/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body {
	text-align: left;
}
body,
input.form-submit {
	font-size: 24px;
}
.zone {
	padding: 0;
}
/* equal heights */
.equal-height-container {
	overflow: hidden;
}
.equal-height-element .region-inner,
.equal-height-element .block,
.equal-height-element .block-inner,
.equal-height-element .block-inner .content,
.equal-height-element .block-inner .view {
	height: 100%;
}

/* blog */
.view-blog .views-field-field-image,
.node-blog .field-name-field-image {
	width: 30%;
	float: right;
	margin: 0.8em 0 1em 1em;
}
.node-blog .field-name-field-image {
	width: 50%;
}


/* banners */
.has-banner h1 {
	padding: 0;
}
.has-banner #block-fieldblock-node-page-default-field-banner-image,
#block-views-homepage-slides-block .views-field-field-image,
#block-views-homepage-slides-block .views-field-field-image img {
	display: block;
}
.has-banner #block-fieldblock-node-page-default-field-banner-image img/*,
#block-views-homepage-slides-block .views-field-field-image img*/ {
	width: 100%;
	height: auto;
}
.has-banner #block-fieldblock-node-page-default-field-banner-image-for-mobile,
#block-views-homepage-slides-block .views-field-field-banner-image-for-mobile {
	display: none;
}
.has-banner #block-fieldblock-node-page-default-field-banner-text {
	padding: 0 1em 1em 1em;
}


/* HP blocks */
.hp-content {
	border-right: 1px solid #bbbbbc;
}
.hp-content .content {
	width: 60%;
}
#block-views-homepage-stats-block {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 0 none;
}
#block-views-homepage-stats-block .view-content {
	padding-top: 60px;
}
#block-views-homepage-stats-block .views-slideshow-pager-fields {
	display: block;
	position: absolute;
	bottom: 30px;
	width: 100%;
}
#block-views-homepage-stats-block .views-slideshow-controls-text {
	display: none;
}
#block-views-homepage-stats-block .views-slideshow-pager-fields .views-slideshow-pager-field-item {
	display: inline-block;
	margin-right: 20px;
}
#block-views-homepage-stats-block .views-slideshow-pager-fields .views-slideshow-pager-field-item.views-row-last {
	margin-right: 0;
}
#block-views-homepage-stats-block .views-slideshow-pager-fields .views-content-counter {
	text-indent: -8765px;
	width: 20px;
	height: 20px;
	background-color: #6c696a;
	cursor: pointer;
}
#block-views-homepage-stats-block .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-content-counter {
	background-color: #929294;
}
#region-side {
	text-align: center;
}
#block-views-homepage-stats-block img {
	display: block;
	margin: 0 auto;
}
#block-views-homepage-news-block {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0 none;
	width: 66%;
	float: left;
}
#block-views-homepage-news-block .block-inner {
	padding-right: 30%;
}
.view-homepage-news {
	padding-top: 2em;
}
#block-views-civi-upcoming-events-block-1 {
	width: 33%;
	float: left;
	border-left: 1px solid #fff;
}
#block-views-civi-upcoming-events-block-1 .block-inner {
	padding-left: 10%;
}
.view-rotating-partner-logos .partner-text {
	float: left;
	width: 430px;
}
.view-rotating-partner-logos .partner-text .pad {
	padding: 0 60px;
}

/* quicktabs */
#block-quicktabs-become-a-partner-tabs ul.quicktabs-tabs li a {
	text-indent: 0;
	width: auto;
}
#block-quicktabs-become-a-partner-tabs h2.node-title a {
	display: none;
}


/* become a parter (and hp - get started block) */
.partner-option,
.get-started {
	width: 33%;
	float: left;
}
.partner-option {
	padding-bottom: 0;
	margin-bottom: 0;
	border: 0 none;
}
.partner-option-header ,
.get-started-header {
	padding: 30px 30px 0 30px;
}
.partner-option-inner,
.get-started-inner {
	padding: 0 30px 30px 30px;
	border-right: 1px solid #bbbbbc;
}
.partner-option.option-three .partner-option-inner,
.get-started.option-three .get-started-inner {
	border-right: 0;
}
p.option-number {
	display: block;
}
.partner-option h4 span.color {
	color: #6c696a !important;
}
.tick-list ul {
	padding: 0 0 0 2.4em;
}


/* download page (and hp features block) */
.hp-features h5 {
	width: 70%;
	text-align: center;
}
.dl-option {
	width: 25%;
	border-bottom: 0 none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.dl-option-inner {
	border-right: 1px solid #bbbbbc;
}
.dl-option.wordpress .dl-option-inner {
	border: 0 none;
}
.dl-option.drupal6 .dl-option-inner {
	border-right: 1px solid #bbbbbc;
}
.dl-resource,
.hp-feature,
.partner-benefit {
	width: 33%;
	float: left;
}
.dl-resource.four,
.hp-feature.four,
.hp-feature.seven,
.partner-benefit.four {
	clear: left;
}
.dl-resource.three,
.hp-feature.three,
.hp-feature.five,
.hp-feature.nine,
.partner-benefit.three {
	clear: none;
}
.dl-hosts p {
	width: 80%;
	padding-right: 100px;
	background: url(images/white-arrow.png) no-repeat right center;
}
.dl-hosts strong {
	float: left;
	margin: 0 80px 30px 0;
}
#dl-arrow {
	float: left;
	margin: 0 30px 80px 0;
}

/* case studies */
.view-related-case-studies {
	width: 60%;
}

/* make it happen */
.view-make-it-happen .views-field-field-widget {
	float: right;
	margin: 0 0 1em 1em;
}


/* service providers */
.view-service-providers .name-logo,
.view-service-providers .contact-div,
.view-service-providers .civi-image {
	margin-bottom: 0;
}
.view-service-providers .name-logo {
    float: left;
	width: 230px;
	min-height: 1px;
    margin-right: 20px;
}
.view-service-providers .contact-div {
    float: left;
    margin: 0 35px 0 0;
	width: 420px;
}
.view-service-providers .civi-image {
    clear: none;
	float: right;
}
.view-service-providers .sp-expanded .name-logo,
.view-service-providers .sp-expanded .civi-image {
	float: left;
	clear: left;
	width: 300px;
	margin: 0 0 2em 0;
	text-align: center;
}
.view-service-providers .sp-expanded .sp-text {
	margin-left: 300px;
}
.view-service-providers .sp-expanded .sp-text-inner {
	border-left: 1px solid #bbbbbc;
	padding-left: 1em;
}

/* footer */
#zone-footer-first .footer-sm {
	float: left;
}
#zone-footer-first .footer-sm div,
#zone-footer-first .footer-sm p {
	margin: 0;
	display: inline;
}
#zone-footer-first .footer-sm p {
	margin-right: 2em;
}
.block-menu-block.footer-menu {
	font-size: 1em; /* 24px @ 24px */
}
.footer-menu ul.menu {
	text-align: left;
}
.footer-menu ul.menu li {
	float: left;
	width: 17%;
	margin: 0 10% 0 0;
}
.footer-menu ul.menu li.last {
	margin-right: 0;
}
.footer-menu ul.menu li a {
	font-size: 1em;
}
.footer-info img {
	margin-bottom: 0;
}
#zone-footer-first #block-search-form {
	float: right;
}