/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

body {
	font-size: 18px;
}


/* download page (and hp features block) */
.dl-option {
	width: 50%;
	float: left;
}
.dl-option.drupal6 .dl-option-inner {
	border: 0 none;
}
.dl-resource,
.hp-feature,
.partner-benefit {
	width: 50%;
}
.dl-resource.four,
.hp-feature.four,
.partner-benefit.four {
	clear: none;
}
.dl-resource.three,
.hp-feature.three,
.hp-feature.five,
.hp-feature.seven,
.hp-feature.nine,
.partner-benefit.three {
	clear: left;
}
.dl-hosts p {
	width: auto;
}

/* HP blocks */
#block-views-homepage-news-block,
#block-views-civi-upcoming-events-block-1 {
	width: 100%;
	float: none;
	border: 0 none;
}
#block-views-homepage-news-block {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid #fff;
}
.view-homepage-news,
#block-views-homepage-news-block .block-inner,
#block-views-civi-upcoming-events-block-1 .block-inner {
	padding: 0;
}


/* banner */
.front .hp-slide-text div {
	padding-top: 2em;
}
.front .hp-short-text {
	margin-bottom: 1em;
}

/* case studies */
.view-related-case-studies {
	width: 100%;
}

/* service providers */
.view-service-providers .name-logo {
	width: 180px;
}
.view-service-providers .contact-div {
	width: 240px;
}

/* HP partners block */
.view-rotating-partner-logos .partner-text {
	width: 220px;
}
.view-rotating-partner-logos .partner-text .pad {
	padding: 0 20px;
}
.view-rotating-partner-logos .views-slideshow-controls-text-previous a,
.view-rotating-partner-logos .views-slideshow-controls-text-next a {
	top: 200px;
}

/* footer */
.block-menu-block.footer-menu {
	font-size: 0.75em; /* 18px @ 24px */
}
.footer-info img {
	margin-bottom: 100px;
}

