@include add-grid(12);
@include add-gutter(1/3);

#block-views-get-started-block {
	display: inline-block;
	@include breakpoint($desktop) {
		@include add-grid(3);
		@include add-gutter(0);

		.views-row-1 {
			@include grid-span(1,1);
		}

		.views-row-2 {
			@include grid-span(1,2);
		}

		.views-row-3 {
			@include grid-span(1,3);
		}
	}
}


.left-two-thirds {
	@include breakpoint($desktop) {@include grid-span(2,1);}
}

.left-third {
	@include breakpoint($desktop) {@include grid-span(1,1);}
}

.right-third {
	@include breakpoint($desktop) {@include grid-span(1,3);}
}

.right-two-thirds {
	@include breakpoint($desktop) {@include grid-span(2,2);}
}

.front {
	.hero {
		display: inline-block;
		clear: both;
		@include add-grid(2);
		
		.l-region--hero-left {
			@include grid-span(3,1,3);	
		}

		.l-region--hero-right {
			@include grid-span(3,1,3);
		}

		@include breakpoint($desktop) {
			.l-region--hero-left {
				@include grid-span(2,1,3);	
			}

			.l-region--hero-right {
				@include grid-span(1,3,3);
			}
		}
		
		
	}
}

.l-header {
	
	@include add-grid(2);
	@include add-gutter(.25);

	@include breakpoint($tablet) {
		@include add-grid(2 10);
		@include add-gutter(.25);
	}

	.l-header-inner {
		max-width: 90%;
		margin: auto;
	}

	.l-branding {
		@include grid-span(1,1);
	}

	.l-region--menu {
		@include breakpoint($tablet) {
			@include grid-span(1,2);	
		}
		
	}
}


.l-main {
	// max-width: 90%;
	// margin: auto;
	width: 100%
	
}

.l-footer {
	clear: both;
}

.l-region--blue {
	width: 100%;
	// height: 20%;

}

.l-region--blue-two {
	width: 100%;
	@add-grid(3);
	@add-gutter(.25);
}

.l-region--footer-first {
	@include layout(12) {
		.footer-sm {
			@include grid-span(10,1);
			clear:right;
		}

		.block--search-form {
			@include grid-span(2,9);
		}

		.block--menu-block {
			// @include grid-span(12,1,15);
			clear: both;
			@include layout(15,.25) {
				.menu-level-1 > .menu > li {
					&:nth-child(n){
						@include float-span(15);
	  					clear:none;
					}
					&:nth-child(1n+1) {
						@include float-span(15,last);
					}	
				}
			}
			
			@include layout-at(('grid':15,'gutter':.25),$desktop) {
				.menu-level-1 > .menu > li {
					&:nth-child(n){
						@include float-span(3);
	  					clear:none;
					}
					&:nth-child(5n+5) {
						@include float-span(3,last);
					}	
				}
			}
		}
	}
}

.l-region--footer-second {
	@include add-grid(2);
	@include add-gutter(.25);	
}

.view-service-providers {
	.views-field-nothing {
		@include add-grid(2);
		@include add-gutter(.5);
		
		.display-name {
			@include grid-span(2,1,$output-style: 'isolation',$options: 'both');
		}

		.p-logo {
			@include grid-span(1,1,$output-style: 'isolation',$options: 'right');
			width: 20%;
			clear:right;

			.civi-image {
				margin-top: 100%;
			}

			@include breakpoint($tablet) {
				width: 40%;
			}

			@include breakpoint($wide) {
				width: 20%;
			}
		}

		.p-data {
			@include grid-span(2,1);
			width: 80%;
			padding-left: 3%;

			@include breakpoint($tablet) {
				width: 60%;
			}
			
			@include breakpoint($wide) {
				width: 80%;
			}
		}

		.less-info {
			@include grid-span(2,1,$output-style: 'isolation',$options: 'both');
		}
	}

	.views-field-nothing-1 {
		@include add-grid(3);
		
		display-name {
			@include grid-span(3,1,$output-style: 'isolation',$options: 'both');
		}		
		
		.name-logo {
			@include grid-span(1,1);
			width: 20%;
			max-width: 150px;
			img {
				// max-width: 150px;
			}
		}

		.contact-div {
			@include grid-span(1,2);
			width: 60%;
			margin-left: 20%;

			.contact-info {
				margin-top: 0 !important;
			}

			@include breakpoint($tablet) {
				width: 40%;
				margin-left: 25%;
			}

			@include breakpoint($desktop) {
				width: 50%;
			}

			@include breakpoint($wide) {
				width: 60%;
			}
		}

		.civi-image {
			@include grid-span(1,3);
			width: 20%;

			@include breakpoint($tablet) {
				width: 32%;
			}

			@include breakpoint($desktop) {
				width: 30%;
			}

			@include breakpoint($wide) {
				width: 20%;
			}
		}

		.more-info {
			@include grid-span(3,1,$output-style: 'isolation',$options: 'both');
		}
	}
	
}

.view-rotating-partner-logos {
	.view-content {
		.views-field-views-field-nothing {
			// @include add-grid(2);
			// @include add-gutter(0);

			@include breakpoint($desktop) {
				.partner-left {
					@include grid-span(1,1,2)	
				}

				.partner-contact {
					@include grid-span(1,2,2);
				}
				
			}

		}
	}
}

.icongrid {
	// max-width: 90%;
	.view-content {
		@include layout-at(('grid':12,'gutter':1/3),$tablet) {
			.views-row {
				&:nth-child(n){
					    	@include float-span(4);
					  	}
					  	&:nth-child(3n+3) {
					    	@include float-span(4,last);
					  	}
			}
		}
		
	}
	
}



