
body {
	font-family: "Source Sans Pro";
	line-height: 1.4 !important;
	color: $grey;
	font-size: 16px !important;
}

a {
	text-decoration: none;
	color: $midblue;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
    font-weight: 700;
}

h3 {
	font-size: 1.57em; /* 22px @ 14px */
}
h4 {
	font-size: 1.29em; /* 18px @ 14px */
}

h5 {
	font-size: 1.29em;
}

p {
	line-height: 1.4 !important;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

input.form-submit {
	border: 0 none;
	cursor: pointer;
}

td, th {
    font-weight: normal;
    text-align: left;
}

blockquote {
	font-size: 1.5rem;
	font-style: italic;
}

.btn-grey {

	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	a {
		color: #fff;
	}
}

#block-delta-blocks-breadcrumb {
	li {
		a {
			line-height: 1;
			color: $white;
			text-transform: uppercase;
			font-size: 0.75em; /* 18px @ 24px */

			a.active {
				color: $darkgrey;
			}
		}


	}
}

#block-views-features-block {
	text-align: center;
	.block__title {
		text-align: center;
	}

	.views-field-title {
		text-decoration: uppercase;
	}

	a {
		color: #fff;
	}
}

#block-views-homepage-stats-block {
	text-align: center;
	a {
		text-indent: -8765px;
	}

	h5 {
		color: $darkblue;
		text-align: center;
	}
}

#page-title {
	font-size: 2.5em;
	@include breakpoint($tablet) {font-size: 3.5em; /* 50px @ 24px */}
	line-height: 1;
	text-align: left;
}


#zone-blue {
	.block-title {
		@extend .align-center;
	}

	a {
		color: $white;
	}
}

#zone-white {
	.block-title {
		@extend .align-center;
	}

	a {
		color: $white;
	}
}

#zone-dark-grey {
	.block-title {
		@extend .align-center;
		font-size: 1em; /* 24px @ 24px */
		text-transform: none;
	}

	a {
		color: $white;
	}
}


.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}

.block--block-38 {
	@include breakpoint($tablet) {
		display: none;
	}
}

.block-title, .block__title {
	@extend #page-title;
}

.breadcrumb {
	font-size: 0.75em;
	text-transform: uppercase;

	a {
		line-height: 1;
	    margin-right: 20px;
	    padding-right: 30px;
	    background: url(images/breadcrumb-arrrow.png) no-repeat right center;
	    color: #fff;
	}

	li:last-child {
		color: $civigreen;
		text-transform: uppercase;
	}
}

.btn-grey {
	color: #fff;
}

.btn-white {
	a {
		text-transform: uppercase;
		font-size: 1.1rem;
		@include breakpoint($tablet) {font-size: 1.57rem; /* 22px @ 14px */}
		font-weight: bold;
		color: $black;
		text-shadow: none;
	}
}

.field--name-field-section-heading {
	@extend h2;
	font-size: 1.5em;
}

.field--name-field-section-list-description {
	p {
		margin: 0 !important;
	}
}

.has-banner {
	h1 {
		color: $white;
	}
}

.hp-events {
	a {
		color: $white;
	}
	
	.pager {
		margin: 0;
		text-align: center;
		display: block;
		list-style-type: none;
	}

	.pager-next, .pager-previous {
		font-size: 3em;	
		display: inline;
	}
}


.hp-events-date {
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
}



.l-header {
	color: $white;

	.block__title {
		display: none;
	}

	.menu {
		text-align: right;
		line-height: 0;

		a {
			color: $white;
			text-transform: uppercase;
			line-height: 1;
		}
	}

	.block--menu-menu-primary-menu, .block--menu-menu-home-page-menu {
		a {
			font-size: 1.15rem;
			@include breakpoint($desktop-lg) {font-size: 1.3rem; /* 20px @ 24px */}
			font-weight: bold;
		}
	}

	.menu-name-menu-secondary-menu {
		a {
			// font-size: 0.67em; /* 16px @ 24px */
			font-weight: normal;
		}
	}
}

.l-header.before {
	.block--menu-menu-primary-menu {
		a { 
			font-size: 1.1rem;
		}
	}

	.menu-name-menu-secondary-menu {
		a {
			font-size: 0.8rem;
		}
	}
}

.l-region--blue, .l-region--blue-two, .l-region--darkgrey, .l-region--grey{
	color: #fff;
}

.l-region--grey {
	text-align: center;
	.block__title {
		text-align: center;
	}
}

.l-region--slideshow {

	.flexslider {
		li {
			text-align: center;
			color: #fff;
			text-shadow: 2px 2px 2px #000;
		}

		h1 {
			font-size: 1.8rem;
			@include breakpoint($tablet){font-size: 2.5rem;}
			@include breakpoint($desktop){font-size: 3rem;}
			@include breakpoint($wide){font-size: 4rem;}
		}

		.teaser {
			font-size: 1rem;
			@include breakpoint($tablet){font-size: 1.5rem;}
			@include breakpoint($wide){font-size: 2rem;}
			text-transform: none;
		}

	}
}

.l-main {
	@include breakpoint($desktop) {
		font-size: 20px !important;
	}
}

.l-region--footer-first {
	text-align: center;
	@include breakpoint($desktop) {
		text-align: left;
	}

	a {
		color: $grey;
	}
	
	.menu {
		text-align: center;
		@include breakpoint($desktop) {
			text-align: left;
		}
		li {
			font-size: 1.2rem;
		}
	}
	.expanded, .parent-mlid-0 > .menu > li {
		text-transform: uppercase;
		font-weight: bold;
	}

	.expanded > .menu > .leaf {
		text-transform: none;
		font-weight: normal;
		line-height: 2em;
	}
}

.l-region--footer-first {
	.footer-sm {
		.block__title {
			font-size: 2em;
		}
	}
}

.node__title {
	a {
		color: $grey;
	}
}

.node-type-feature {
	.l-content {
		.field--name-field-top-feature-heading {
			@extend h2;
		}

		.field--name-body {
			@extend blockquote;
			color: #fff;
		}

		.field__label {
			font-size: 2rem;
		}
	}
}

.view-homepage-news {
	a {
		color: $white;
	}

	.views-field-view-node {
		font-weight: bold;
	}
}

.view-rotating-partner-logos {
	.partner-text {
		text-align: center;
	}

	a {
		text-indent: -8765px;
		line-height: 0;
		font-size: 0;
	}
}

.view-service-providers {
	a {
		font-weight: bold;
		text-transform: uppercase;
	}

	.views-label {
		font-weight: bold;
	}

	.contact-info {
		font-weight: bold;
	}
}
