
body {
	font-family: "Source Sans Pro";
	line-height: 1.4 !important;
	color: $grey;
	font-size: 16px !important;
}

a {
	text-decoration: none;
	color: $midblue;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
    font-weight: 700;
}

h3 {
	font-size: 1.57em; /* 22px @ 14px */
}
h4 {
	font-size: 1.29em; /* 18px @ 14px */
}

h5 {
	font-size: 1.29em;
}

p {
	line-height: 1.4 !important;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

input.form-submit {
	border: 0 none;
	cursor: pointer;
}

td, th {
    font-weight: normal;
    text-align: left;
}

.btn-grey {

	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

#block-delta-blocks-breadcrumb {
	li {
		a {
			line-height: 1;
			color: $white;
			text-transform: uppercase;
			font-size: 0.75em; /* 18px @ 24px */

			a.active {
				color: $darkgrey;
			}
		}


	}
}

#block-views-features-block {
	text-align: center;
	.block__title {
		text-align: center;
	}
}

#block-views-homepage-stats-block {
	text-align: center;
	a {
		text-indent: -8765px;
	}

	h5 {
		color: $darkblue;
		text-align: center;
	}
}

#page-title {
	font-size: 3.5em; /* 50px @ 24px */
	line-height: 1;
	text-align: left;
}


#zone-blue {
	.block-title {
		@extend .align-center;
	}

	a {
		color: $white;
	}
}

#zone-white {
	.block-title {
		@extend .align-center;
	}

	a {
		color: $white;
	}
}

#zone-dark-grey {
	.block-title {
		@extend .align-center;
		font-size: 1em; /* 24px @ 24px */
		text-transform: none;
	}

	a {
		color: $white;
	}
}


.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}

.block-title, .block__title {
	@extend #page-title;
}

.has-banner {
	h1 {
		color: $white;
	}
}

.hp-events {
	a {
		color: $white;
	}
}

.hp-slide-text {
	div {
		color: $white;
	}
}

.hp-events-date {
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
}

.hp-slide-btn {
	a {
		text-transform: uppercase;
		font-size: 1.57em; /* 22px @ 14px */
		font-weight: bold;
		color: $black;
	}
}

.l-header {
	color: $white;

	.block__title {
		display: none;
	}

	.menu {
		text-align: right;
		line-height: 0;

		a {
			color: $white;
			text-transform: uppercase;
			line-height: 1;
		}
	}

	.block--menu-menu-primary-menu {
		a {
			font-size: 1.3em; /* 20px @ 24px */
			font-weight: bold;
		}
	}

	.menu-name-menu-secondary-menu {
		a {
			// font-size: 0.67em; /* 16px @ 24px */
			font-weight: normal;
		}
	}
}

.l-region--blue {
	color: #fff;
}

.l-main {
	@include breakpoint($desktop) {
		font-size: 20px !important;
	}
}

.l-region--footer-first {
	a {
		color: $grey;
	}
	
	.menu {
		li {
			font-size: .92em;
		}
	}
	.expanded {
		text-transform: uppercase;
		font-weight: bold;
	}

	.leaf {
		text-transform: none;
		font-weight: normal;
		line-height: 2em;
	}
}

.l-region--footer-first {
	.footer-sm {
		.block__title {
			font-size: 2em;
		}
	}
}

.node__title {
	a {
		color: $grey;
	}
}

.view-homepage-news {
	a {
		color: $white;
	}

	.views-field-view-node {
		font-weight: bold;
	}
}

.view-rotating-partner-logos {
	.partner-text {
		text-align: center;
	}

	a {
		text-indent: -8765px;
		line-height: 0;
		font-size: 0;
	}
}

.view-service-providers {
	a {
		font-weight: bold;
		text-transform: uppercase;
	}

	.views-label {
		font-weight: bold;
	}

	.contact-info {
		font-weight: bold;
	}
}
