@mixin colorRegion($name) {
    .l-region--#{$name} {
        width: 100vw;
        display: inline-block;
        @content;
    }
}
@mixin fieldColorRegion($name) {
    .field-content.l-region--#{$name} {
        width: 100vw;
        display: inline-block;
        padding-top: 1%;
        @content;
    }
}
@mixin viewColumns() {
    .views-row {
        
        // padding: 0 2.5%;

        // .front & {
            padding: 0 5%;
            text-align: center;    
        // }
        
        // &:first-child {
        //     border-top: none;
        //     padding-left: 0;
        // }

        // &:last-child {
        //     border-right: none;
        //     padding-right: 0;
        // }

        border-top: 1px solid $grey;
        @include breakpoint($desktop) {
            border-top: none;
            border-right: 1px solid $grey;
        }
    }
    .views-row-first {
        border-top: none;
    }
    .views-row-last {
        border-right: none;
    }
}

@mixin viewColumnsInternal() {
    .views-row {
        
        padding: 0 2.5%;

        
        &:first-child {
            border-top: none;
            padding-left: 0;
        }

        &:last-child {
            border-right: none;
            padding-right: 0;
        }

        border-top: 1px solid $grey;
        @include breakpoint($desktop) {
            border-top: none;
            border-right: 1px solid $grey;
        }
    }
}   


dd {
    margin: 0;
}
table td,
table th {
    padding: 8px 16px;
    font-size: 90%;
}
table th {
    font-weight: bold;
    border-bottom: 1px solid;
}
table tr.odd,
table tr.even {
    background-color: white;
}
tbody tr:hover {
    background-color: #eee;
}
#block-search-form {
    display: none;
    @include breakpoint($desktop-sm) {
        display: block;
    }
}
#block-views-features-block {
    margin: 0 auto;
    display: block;
    width: 100%;
    @include breakpoint($desktop-sm) {
        width: 100%;
    }
    padding: 2%;
    .block__title {
        padding: 1%;
        margin: 1% 0;
    }
    .icongrid {
        .views-row {
            padding: 2%;
        }
        .views-field-field-one-sentence-summary {
            display: none;
            clear: both;
        }
    }
    .view-footer {
        clear: both;
    }
}
#block-views-homepage-stats-block {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0 none;
    .view-content {
        padding-top: 60px;
    }
    .views-slideshow-pager-fields {
        display: none;
        @include breakpoint($desktop) {
            display: block;
            
            // position: absolute;
            bottom: 30px;
            width: 100%;
        }
    }
    .views-slideshow-controls-text {
        display: none;
    }
    .views-slideshow-pager-fields {
        .views-slideshow-pager-field-item {
            display: inline-block;
            margin-right: 20px;
        }
        .views-slideshow-pager-field-item.views-row-last {
            margin-right: 0;
        }
        .views-content-counter {
            text-indent: -8765px;
            width: 20px;
            height: 20px;
            background-color: #6c696a;
            cursor: pointer;
        }
    }
    .views-slideshow-controls-bottom {
        .views-slideshow-pager-field-item.active .views-content-counter {
            background-color: #929294;
        }
    }
}

.three-column {
    // max-width: 95%;
    margin: 0 0 2%;
    .block__title {
        text-align: center;
    }
    
    /* .views-row {
        text-align: center;
        padding: 0 5% 0;
        border-top: 1px solid $grey;    

        @include breakpoint($desktop) {
            border-top: none;
            border-right: 1px solid $grey;  
        }
        
    } */
    @include viewColumnsInternal();
    
    /* .views-row-first {
        border-top: none;
    }

    .views-row-last {
        border-right: none;
    } */
    .views-field-body {
        @include breakpoint($desktop) {
            
            // min-height: 8.5em;
        }
    }
    .views-field-field-option-number {
        display: inline-block;
        .field-content {
            width: 1.5em;
            height: 1.5em;
            border-radius: 2em;
            font-size: 3.5em;
            color: #fff;
            font-weight: 700;
        }
    }
    .views-field-field-subtitle {
        @include breakpoint($desktop) {
            
            // min-height: 11.5em;
        }
        @include breakpoint($wide) {
            
            // min-height: 8em;
        }
    }
    .views-field-field-button-link {
        ul {
            list-style-type: none;
            -webkit-padding-start: 0;
        }
        li {
            margin-bottom: 3%;
            text-align: center;
            a {
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                display: block;
                padding: 0.5em 0;
            }
        }
    }
    input {
        float: left;
    }
    input[type="email"] {
        line-height: 2.2rem;
    }
}


#block-views-get-started-block,
#block-views-get-started-block-1,
#block-views-get-started-block-2 {
    max-width: 95%;
    margin: 0 0 2%;
    .block__title {
        text-align: center;
    }
    
    /* .views-row {
		text-align: center;
		padding: 0 5% 0;
		border-top: 1px solid $grey;	

		@include breakpoint($desktop) {
			border-top: none;
			border-right: 1px solid $grey;	
		}
		
	} */
    @include viewColumns();
    
    /* .views-row-first {
		border-top: none;
	}

	.views-row-last {
		border-right: none;
	} */
    .views-field-body {
        @include breakpoint($desktop) {
            
            // min-height: 8.5em;
        }
    }
    .views-field-field-option-number {
        display: inline-block;
        .field-content {
            width: 1.5em;
            height: 1.5em;
            border-radius: 2em;
            font-size: 3.5em;
            color: #fff;
            font-weight: 700;
        }
    }
    .views-field-field-subtitle {
        @include breakpoint($desktop) {
            
            // min-height: 11.5em;
        }
        @include breakpoint($wide) {
            
            // min-height: 8em;
        }
    }
    .views-field-field-button-link {
        ul {
            list-style-type: none;
            -webkit-padding-start: 0;
        }
        li {
            margin-bottom: 3%;
            text-align: center;
            a {
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                display: block;
                padding: 0.5em 0;
            }
        }
    }
    input {
        float: left;
    }
    input[type="email"] {
        line-height: 2.2rem;
    }
}

/* #block-views-get-started-block-1 {
	@extend #block-views-get-started-block;

	.views-row {
		border-top: none;	
		padding-top: 0;

		@include breakpoint($desktop) {
			border-right: none;	
		}

		.views-field-title {
			min-height: 5rem;
		}

		.views-field-body {
			@include breakpoint($desktop-lg) {min-height: 20rem;}
			@include breakpoint($wide) {min-height: 13rem;}
		}
		
	}

	h3 {
		margin-bottom: 0;
	}
}

#block-views-get-started-block-2 {
	@extend #block-views-get-started-block;
	clear: both;

	.views-row {
		border-top: none;	
		padding-top: 0;

		@include breakpoint($desktop) {
			border-right: none;	
		}

		.views-field-title {
			min-height: 5rem;
		}

		.views-field-body {
			@include breakpoint($desktop-lg) {min-height: 20rem;}
			@include breakpoint($wide) {min-height: 13rem;}
		}
		
	}

	h3 {
		margin-bottom: 0;
	}
} */
#block-views-homepage-news-block {
    padding: 0 10% 5% 5%;
    @include breakpoint($tablet) {
        padding: 0 10% 0 2%;
    }
    @include breakpoint($desktop-sm) {
        min-height: 33em;
    }
    h1 {
        font-size: 4.5rem;
    }
}
#block-views-homepage-news-block.left-two-thirds {
	display:inline-block;
	float: none;
}

#page-title {
	padding: 0 $edgepadding;

  	img {
	  	vertical-align: top;
	  	margin-right: .5em;
	  	width: 1em;
	}
}
#views_slideshow_cycle_main_homepage_stats-block {
    display: inline-block;
    img {
        min-width: 300px;
    }
}
#views_slideshow_cycle_teaser_section_homepage_our_partners-block {
    width: 100% !important;
}
.breadcrumb {
    background-color: $breadcrumbbg;
    margin: 0;
    padding: 1% $edgepadding;
    list-style-type: none;
    width: 100vw;
    li {
        display: inline-block;
    }
}
.btn-grey {
    display: inline-block;
    padding: 1em;
    background-color: $grey;
}
.btn-white {
    display: inline-block;
    padding: 1em;
    background-color: #fff;
    box-shadow: 2px 2px 2px #000;
    margin-top: 4%;
}
.button-primary {
    @extend .btn-grey;
    background-color: $bluegreen;
    padding: 0.5rem 1rem;
}
.bluegreen {
    background-color: $bluegreen;
}
.pink {
    background-color: $pink;
}
.green {
    background-color: $civigreen;
}
.hero {
    display: inherit;
    padding: 2% $edgepadding;
    .l-region--hero-right {
        border-bottom: 1px solid $darkgrey;
        @include breakpoint($desktop) {
            border-bottom: 0;
            border-left: 1px solid $darkgrey;
            
            // padding-left: 4%;	
            text-align: center;
        }
    }
    .l-region--hero-left {
        padding-right: 2%;
    }
}
.hp-events {
    .views-row {
        margin-bottom: 4%;
    }
    .pager-current {
        display: none;
    }
}
.hp-events-date {
    border: 1px solid #fff;
    /* width: 12%; */
    padding: 2%;
    display: inline-block;
    /* float: left; */
    // clear: left;
    margin-right: 4%;
    vertical-align: top;
}
.hp-events-title {
    display: inline-block;
    width: 75%;
}
.i-facebook {
    background: url("images/icons/civi-sprite.png") no-repeat -210px -1875px;
}
.i-linkedin {
    background: url("images/icons/civi-sprite.png") no-repeat -210px -1930px;
}
.i-twitter {
    background: url("images/icons/civi-sprite.png") no-repeat -210px -2040px;
}
.l-content {
    
    // max-width: 95%;
    margin: auto;
}
.front {
    .l-content {
        max-width: 100%;
    }
    .block__title {
        padding-left: 0;
    }
    @include colorRegion('white') {
        text-align: center;
    }
    @include colorRegion('white-two') {
        text-align: center;
        .white-two-inner {
            text-align: center;
        }
    }
}
.messages {
    margin: 1em $edgepadding;
}
#page-title,
.page-blog- article,
.l-content>.action-links,
.l-content>ul.tabs,
.view-blog-news,
.page-node article,
.l-content>.block>.block__content,
.page-user form,
.panel-flexible,
.crm-public {
    padding: 0 $edgepadding;
}
.l-content>.action-links li {
    list-style-type: none;
}
.not-front {
    .icongrid {
        text-align: center;
        .views-field-field-icon {
            margin-top: 5%;
        }
    }
    @include colorRegion('white') {
        padding: 2% $edgepadding;
    }
    @include colorRegion('white-two') {
        padding: 2% $edgepadding;
    }
    @include colorRegion('green') {
        padding: 2% $edgepadding;
    }
}

.view {
    padding: 0 $edgepadding;
}





.node-type-feature {
    .l-content {
        max-width: 100vw;
        
        // padding: 0 2.5%;
        article.node--feature {
            padding: 0;
        }
        #page-title {
            padding: 0 $edgepadding;
        }
        .field {
            padding: 0 $edgepadding;
        }
        .field--name-field-top-feature-heading {
            
        }
        .field--name-body {
            background-color: $darkblue;
            padding: 1% $edgepadding;
            margin-top: 2%;
            margin-bottom: 2%;
            width: 100vw;
        }
        .field--name-field-additional-resources {
            @extend .field--name-body;
            margin-bottom: 0;
            background-color: $civigreen;
            color: #fff;
        }
    }
}
.l-main {
    
    // padding: 2% 3%;
    @include colorRegion('blue') {
        background-color: $darkblue;
    }
    @include colorRegion('black') {
        background-color: #000;
        min-height: 20rem;
        .left-half {
            padding: 5%;
            color: #fff;
        }
    }
    @include colorRegion('blue-two') {
        background-color: $darkblue;
        text-align: center;
        .blue-two-inner {
            
            // max-width: 95%;
            margin: 0;
            display: inline-block;
            text-align: left;
        }
        .block {
            padding: 0 5%;
            @include breakpoint($tablet) {
                padding: 0;
            }
        }
    }
    @include colorRegion('green') {
        background-color: $civigreen;
    }
    @include colorRegion('grey') {
        background-color: $grey;
        padding: 0 5%;
        min-height: 50em;
        @include breakpoint($tablet) {
            min-height: 45em;
        }
        @include breakpoint($desktop-sm) {
            min-height: auto;
        }
    }
    @include colorRegion('dark-grey') {
        background-color: $darkgrey;
    }
}
.l-page {
    max-width: 1900px;
}
.field-collection-view {
    border-bottom: none;
}
.l-region--slideshow {
    width: 100vw;
    display: block;
    height: 100vh;
    .flexslider {
        margin: 0;
        border: none;
        height: 100vh;
        .slides img {
            
            // height: 40rem !important;
        }
        .slides > li {
            padding: 0 5% 5%;
            
            // max-height: 30rem;
            // min-height: 29rem;
            height: 100vh;
            div {
                max-width: 850px;
                margin-left: auto;
                margin-right: auto;
            }
            @include breakpoint($desktop-sm) {
                padding: 0 15% 5%;
                
                // min-height: 43rem;
            }
        }
        .flex-control-paging {
            bottom: 8px;
            right: 5%;
            text-align: right;
            z-index: 9999;
            position: relative;
            bottom: 12rem;
            @include breakpoint($tablet) {
                bottom: 10rem;
            }
            @include breakpoint($desktop-sm) {
                bottom: 13rem;
            }
            li > a {
                background-color: $darkgrey;
                border-radius: 0;
                -webkit-border-radius: 0;
                height: 25px;
                width: 25px;
                @include breakpoint($desktop-sm) {
                    height: 50px;
                    width: 50px;
                }
            }
            li > a.flex-active {
                background-color: $bluegreen;
            }
        }
        .flex-direction-nav {
            display: none;
        }
    }

    .view {
        padding: 0;
    }
}
.less-info {
    padding: 1.5em;
    border-top: 1px solid #ccc;
}
.links--inline {
    li {
        border-right: 2px solid #6c696a;
        padding: 0 1em;
        line-height: 1;
        margin-right: 0;
    }
    li:last-child {
        border-right: 0;
    }
}

article.node--blog {
    margin: 4em 0;
}
.links--inline li:first-child {
    padding-left: 0;
}
.view-civi-case-study {
    .l-content {
        max-width: 100%;
        #page-title {
            padding: 0 2%;
        }
        .field-content {
            padding: 0 2%;
        }
        .views-label {
            padding: 0 2%;
        }
        .l-region--green {
            padding: 2%;
        }
    }
}

.view-civi-case-study {
    padding: 0;
    .field-content, .views-label{
        padding: 0 $edgepadding;
    }
    .l-region--blue, .l-region--green{
        margin-top: 2em; 
        margin-bottom: 2em; 
        padding-top: 2em; 
        padding-bottom: 2em; 
    }
}


.quicktabs_main.quicktabs-style-sky {
    border: 0;
    background-color: transparent;
}
ul.quicktabs-tabs.quicktabs-style-sky {
    display: inline-block;
    
    // margin-left: 10%;
    li a,
    li.active a,
    li.active a:visited {
        top: -3.18em;
        background: #fff;
        color: $darkgrey;
        border-bottom: 0;
        border-color: $grey;
    }
}
.node-type-sectioned-page {
    #page-title,
    .node__title {
        padding: 0 $edgepadding;
    }
    .l-content {
        max-width: 100%;
        .section {
            padding: 0 $edgepadding;
        }
        .field--name-body {
            padding: 0 $edgepadding;
        }
    }
    .view-section-list-formatter {
        margin-bottom: 20%;
        @include breakpoint($tablet) {
            margin-bottom: auto;
        }
    }
    .view,
    article {
        padding: 0;
    }
}
.page-user {
    article {
        padding: 0 $edgepadding;
    }
}
.pageheader {
    display: inline-block;
    width: 100%;
    min-height: 40vh;
}
.field-content {
    padding: 0 0 1%;
}
form ul.token-input-list {
    width: 100%;
    li input {
        width: 100%;
    }
}
.views-field-field-image {
    .field-content {
        padding: 0;
    }
}
.views-label {
    font-weight: bold;
    margin-bottom: 0;
}
.view-service-providers {
    
    h2{
    }
    .views-row {
        border-top: 4px solid lighten($grey, 50%);;
        margin: 3em 0;
        
        .more-info,
        .less-info {
            a {
                padding: 0.25em;
                background-color: $grey;
                font-weight: bold;
                color: #fff
            }
        }
    }
    .images{
        float: right
    }
    
    .badges>img:last-child{
        margin-left: 10px;
    }
    
    .logo{
        max-width: 210px;
        max-height: 210px;
        margin-bottom: 1em;
    }
}
.view-rotating-partner-logos .views_slideshow_cycle_slide {
    width: 100% !important;
    padding: 0 2%;
}
.view-rotating-partner-logos .partner-text {
    text-align: center;
    padding: 0 3%;
    @include breakpoint($desktop-sm) {
        min-height: 10em;
    }
}
.view-rotating-partner-logos .partner-text h5,
.view-rotating-partner-logos .partner-contact h5 {
    font-size: 1.29em;
    margin-top: 0;
    margin-bottom: 0.8%;
}
.view-rotating-partner-logos .partner-contact {
    border-top: 1px solid #fff;
    padding-top: 5%;
    @include breakpoint($desktop-sm) {
        min-height: 10em;
        border-left: 1px solid #fff;
        border-top: 0;
        padding-top: 0;
    }
}
.view-rotating-partner-logos .partner-img {
    text-align: center;
    img {
        max-width: 180px;
    }
}
.view-rotating-partner-logos .pad {
    padding: 20px;
}
.view-rotating-partner-logos .views-slideshow-controls-bottom {
    position: relative;
    @include breakpoint($tablet) {
        bottom: 8em;
    }
}
.view-rotating-partner-logos .views-slideshow-controls-text-pause {
    display: none;
}
.view-rotating-partner-logos .views-slideshow-controls-text-previous a,
.view-rotating-partner-logos .views-slideshow-controls-text-next a {
    position: absolute;
    width: 40px;
    height: 70px;
    display: block;
    text-indent: -8765px;
    z-index: 999;
    
    // bottom: -10%;
    @include breakpoint($tablet) {
        /*bottom: -40%;*/
    }
    @include breakpoint($desktop-sm) {
        /*top: 245px;*/
    }
}
.view-rotating-partner-logos .views-slideshow-controls-text-previous a {
    background: url("images/arrow-prev-white.png") no-repeat 0 0;
    left: 0;
}
.view-rotating-partner-logos .views-slideshow-controls-text-next a {
    background: url("images/arrow-next-white.png") no-repeat 0 0;
    right: 0;
}
.view-rotating-partner-logos p a {
    font-weight: bold;
    color: #fff;
}
.view-extensions-directory {
    .views-row {
        margin: 2em 0;
        padding-bottom: 2em;
    }
    h2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.view-extensions-related-releases{
    padding:0;
}

.view-section-list-item-formatter dt {
    font-size: 130%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    a {
        color: #fff;
    }
}
