#block-views-features-block{
	margin: 0 auto;
	display: block;
	width: 80%;
	padding: 2%;
	.block__title {
		padding: 1%;
		margin: 1% 0;
	}
	.icongrid {
		.views-row {
			padding: 2%;
		}
		.views-field-field-one-sentence-summary {
			display: none;
		}
	}
}

.hero {
	display: inherit;
	padding: 2% 4% 2% 7%;
}

.l-main {
	// padding: 2% 3%;

	.l-region--blue {
		background-color: $darkblue;
	}

	.l-region--blue-two {
		background-color: $darkblue;	
	}

	.l-region--green {
		background-color: $civigreen;
	}

}

.l-region--blue {
	display: inline-block;
}

.node--blog {
	padding-bottom: 2em;
    border-bottom: 1px solid #b7b8b9;
    margin-bottom: 2em;
}

.links--inline {
	li {
		border-right: 2px solid #6c696a;
		padding: 0 1em;
		line-height: 1;
		margin-right: 0;
	}

	li:last-child {
		border-right: 0;
	}
}

.more-info, .less-info {
	margin-top: 3%;
	a {
		padding: 1em;
		background-color: $darkgrey;
		color: #fff;
	}
}

.more-info {
	margin-bottom: 5%;
}

.less-info {
	padding: 1.5em;
	border-top: 1px solid #ccc;
}

.view-service-providers {
	.views-row {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;	
	}

	/* .views-field-nothing {
		text-align: center;
		@include breakpoint($tablet) {
			text-align: left;
		}

		.display-name {
			max-width: 100%;
		}

		.name-logo {
			max-width: 100%;
			clear:both;
			img {
				max-width: 50%;
			}
		}

	} */

	/* .views-field-nothing-1 {
		text-align: center;
		@include breakpoint($tablet) {
			text-align: left;
		}
		.display-name {
			max-width: 100%;
		}

		.name-logo {
			max-width: 100%;
			clear:both;
			img {
				max-width: 50%;
			}
		}

		.contact-div {
			max-width: 100%;
			clear: both;
			margin-bottom: 5%;
		}

		.civi-image {
			max-width: 100%;
			clear: both;
			margin-bottom: 5%;

		}

		.more-info {
			max-width: 100%;
			clear: both;
			margin-bottom: 5%;
		}
	} */
}

