.l-header {
	background-color: $darkgrey;
	height: 6em;
	padding: 1.5em;

	.l-header-inner {
		max-width: 90%;
	}

	.l-branding {
		width: 50%;

		@include breakpoint($tablet) {
			width: auto;
		}
	}

	.l-region--menu {
		.menu-name-menu-secondary-menu, .block--menu-menu-primary-menu {
			display: none;
		}

		@include breakpoint($tablet) {
			.menu-name-menu-secondary-menu, .block--menu-menu-primary-menu {
				display: inline;
			}

			.block--block-38 {
				display: none;
			}

			width: 70%;
		}		
	}

	.menu {
		text-align: right;
		padding: 1% 0;
		margin: 0;

		li {
			list-style: none outside none;
			display: inline-block;
			margin: 0 0.75em;
			padding: 0;
			vertical-align: top;
		}
	}

}