.l-header {
	background-color: $darkgrey;
	height: 6em;
	padding: 0.8em 1.5em;
	z-index: 9999999;

	.l-header-inner {
		max-width: 90%;
		@include breakpoint($desktop-sm2) {max-width: 97%;}
		@include breakpoint($desktop-lg) {max-width: 90%;}
	}

	.l-branding {
		width: 50%;
		margin-top: 0.5em;

		@include breakpoint($tablet) {
			width: auto;
		}
	}

	.l-region--menu {
		.menu-name-menu-secondary-menu, .block--menu-menu-primary-menu {
			display: none;
		}



		@include breakpoint($desktop-sm) {
			.menu-name-menu-secondary-menu, .block--menu-menu-primary-menu {
				display: inline;
				.expanded {
					ul {
						display: none;
					}
				}
			}

			.block--block-38 {
				display: none;
			}

			// width: 70%;
		}		
	}

	.menu {
		text-align: right;
		padding: 0.5% 0;
		margin: 0;

		li {
			list-style: none outside none;
			display: inline-block;
			margin: 0 0.75em;
			padding: 0;
			vertical-align: top;
		}
	}

	.block--menu-menu-home-page-menu {
		.menu {
			li {
				a:active, a:hover {
					padding: 0 0 1.5rem 0;
					background: url(../images/active-arrow.png) no-repeat center bottom;
				}

				.active {
					background: url(../images/active-arrow.png) no-repeat center bottom;
				}
			}


		}
	}

}

.scroll-to-fixed-fixed {
	width: 100% !important;
}

.l-header.before {
	display: block;
	
	.l-header-inner {
		max-width: 100%;
	}

	.menubutton {
		float:right;
		a {
			font-size: 4rem;
			color: #fff;
			line-height: 3rem;
		}

		.fa {
			vertical-align: top;
		}
	}

	@include breakpoint($desktop-sm2) {
		display:none
	}
}

.l-header.after {
	display: none;

	@include breakpoint($desktop-sm2) {display:block}
}