/*
* jcarousel mixin
* @author Lee Rowlands (rowlandsgroup.com)
* @param $selector carousel selector)
* @param $carousel_width 
* @param $carousel_height
* @param $carousel_padding 
* @param $item_width 
* @param $item_height 
* @param $item_margin 
* @param $button_width 
* @param $button_height 
* @param $button_image 
* @param $button_top
* @param $button_left 
* @param $button_right 
* @param $button_left_position (background position)
* @param $button_right_position 
* @param $button_left_position_hover 
* @param $button_right_position_hover 
* @param $button_left_position_disabled 
* @param $button_right_position_disabled
*/
/* No files to import found in abstractions/**\/* */
/* line 4, ../sass/base/_grids.scss */
#block-views-get-started-block {
  display: inline-block; }

/* line 24, ../sass/base/_grids.scss */
#block-views-get-started-block-1 {
  display: inline-block; }

/* line 44, ../sass/base/_grids.scss */
#block-views-get-started-block-2 {
  display: inline-block; }

/* line 90, ../sass/base/_grids.scss */
.front .hero {
  display: inline-block;
  clear: both; }
  /* line 95, ../sass/base/_grids.scss */
  .front .hero .l-region--hero-left {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 99, ../sass/base/_grids.scss */
  .front .hero .l-region--hero-right {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

/* line 127, ../sass/base/_grids.scss */
.l-header .l-header-inner {
  max-width: 90%;
  margin: auto; }
/* line 132, ../sass/base/_grids.scss */
.l-header .l-branding {
  width: 44.44444%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

/* line 145, ../sass/base/_grids.scss */
.l-main {
  width: 100%; }

/* line 152, ../sass/base/_grids.scss */
.l-footer {
  clear: both; }

/* line 156, ../sass/base/_grids.scss */
.l-region--blue {
  width: 100%; }

/* line 160, ../sass/base/_grids.scss */
.l-region--blue-two {
  width: 100%;
  @add-grid (3);
  @add-gutter (.25); }

/* line 176, ../sass/base/_grids.scss */
.l-region--footer-first .block--search-form {
  width: 15.25424%;
  float: left;
  margin-right: -100%;
  margin-left: 67.79661%;
  clear: none; }
/* line 180, ../sass/base/_grids.scss */
.l-region--footer-first .block--menu-block {
  clear: both; }
  /* line 185, ../sass/base/_grids.scss */
  .l-region--footer-first .block--menu-block .menu-level-1 > .menu > li:nth-child(n) {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0;
    clear: none; }
  /* line 189, ../sass/base/_grids.scss */
  .l-region--footer-first .block--menu-block .menu-level-1 > .menu > li:nth-child(1n+1) {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0; }

/* line 239, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .display-name {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 243, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .p-logo {
  width: 40%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  width: 20%;
  clear: right; }
  /* line 248, ../sass/base/_grids.scss */
  .view-service-providers .views-field-nothing .p-logo .civi-image {
    margin-top: 100%; }
/* line 261, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .p-data {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 80%;
  padding-left: 3%; }
/* line 275, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .less-info {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 283, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 display-name {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 287, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .name-logo {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  width: 20%;
  max-width: 150px; }
/* line 296, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .contact-div {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 37.5%;
  clear: none;
  width: 60%;
  margin-left: 20%; }
  /* line 301, ../sass/base/_grids.scss */
  .view-service-providers .views-field-nothing-1 .contact-div .contact-info {
    margin-top: 0 !important; }
/* line 319, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .civi-image {
  width: 25%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 20%; }
/* line 336, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .more-info {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 377, ../sass/base/_grids.scss */
.icongrid .view-content .views-row:nth-child(n) {
  width: 48.93617%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 2.12766%; }
/* line 380, ../sass/base/_grids.scss */
.icongrid .view-content .views-row:nth-child(2n+2) {
  width: 48.93617%;
  clear: right;
  float: right;
  margin-right: 0; }

/* line 406, ../sass/base/_grids.scss */
.node-type-feature .field--name-field-top-three-features > .field__items > .field__item:nth-child(n) {
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0; }
/* line 409, ../sass/base/_grids.scss */
.node-type-feature .field--name-field-top-three-features > .field__items > .field__item:nth-child(1n+1) {
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0; }

/* line 1, ../sass/base/_lists.scss */
ul, ol {
  margin: 1.8em 0;
  padding: 0 0 0 2.4em; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/base/_typography.scss */
body {
  font-family: "Source Sans Pro";
  line-height: 1.4 !important;
  color: #6c696a;
  font-size: 16px !important; }

/* line 9, ../sass/base/_typography.scss */
a {
  text-decoration: none;
  color: #5c96ad; }

/* line 15, ../sass/base/_typography.scss */
article header {
  text-align: center;
  color: #fff; }
  /* line 19, ../sass/base/_typography.scss */
  article header h1 a {
    color: #fff !important;
    font-size: 4rem; }

/* line 28, ../sass/base/_typography.scss */
h1, h2, .field--name-field-section-heading, .node-type-feature .l-content .field--name-field-top-feature-heading, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: 700; }

/* line 33, ../sass/base/_typography.scss */
h3 {
  font-size: 1.57em;
  /* 22px @ 14px */ }

/* line 36, ../sass/base/_typography.scss */
h4 {
  font-size: 1.29em;
  /* 18px @ 14px */ }

/* line 40, ../sass/base/_typography.scss */
h5 {
  font-size: 1.29em; }

/* line 44, ../sass/base/_typography.scss */
p {
  line-height: 1.4 !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important; }

/* line 50, ../sass/base/_typography.scss */
input.form-submit {
  border: 0 none;
  cursor: pointer; }

/* line 55, ../sass/base/_typography.scss */
td, th {
  font-weight: normal;
  text-align: left; }

/* line 60, ../sass/base/_typography.scss */
p.quote, blockquote, .node-type-feature .l-content .field--name-body, .node-type-feature .l-content .field--name-field-additional-resources {
  font-size: 1.5rem;
  font-style: italic; }

/* line 65, ../sass/base/_typography.scss */
.btn-grey, .button-primary {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  /* line 70, ../sass/base/_typography.scss */
  .btn-grey a, .button-primary a {
    color: #fff; }

/* line 77, ../sass/base/_typography.scss */
#block-delta-blocks-breadcrumb li a {
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  /* 18px @ 24px */ }
  /* line 83, ../sass/base/_typography.scss */
  #block-delta-blocks-breadcrumb li a a.active {
    color: #393536; }

/* line 92, ../sass/base/_typography.scss */
#block-views-features-block {
  text-align: center; }
  /* line 94, ../sass/base/_typography.scss */
  #block-views-features-block .block__title {
    text-align: center; }
  /* line 98, ../sass/base/_typography.scss */
  #block-views-features-block .views-field-title {
    text-decoration: uppercase; }
  /* line 102, ../sass/base/_typography.scss */
  #block-views-features-block a {
    color: #fff; }

/* line 107, ../sass/base/_typography.scss */
#block-views-homepage-stats-block {
  text-align: center; }
  /* line 109, ../sass/base/_typography.scss */
  #block-views-homepage-stats-block a {
    text-indent: -8765px; }
  /* line 113, ../sass/base/_typography.scss */
  #block-views-homepage-stats-block h5 {
    color: #056186;
    text-align: center; }

/* line 119, ../sass/base/_typography.scss */
#page-title, .block-title, .block__title {
  font-size: 2.5em;
  line-height: 1;
  text-align: left; }

/* line 132, ../sass/base/_typography.scss */
#zone-blue a {
  color: #fff; }

/* line 142, ../sass/base/_typography.scss */
#zone-white a {
  color: #fff; }

/* line 148, ../sass/base/_typography.scss */
#zone-dark-grey .block-title {
  font-size: 1em;
  /* 24px @ 24px */
  text-transform: none; }
/* line 154, ../sass/base/_typography.scss */
#zone-dark-grey a {
  color: #fff; }

/* line 160, ../sass/base/_typography.scss */
.align-left {
  text-align: left; }

/* line 163, ../sass/base/_typography.scss */
.align-right {
  text-align: right; }

/* line 166, ../sass/base/_typography.scss */
.align-center, #zone-blue .block-title, #zone-white .block-title, #zone-dark-grey .block-title {
  text-align: center; }

/* line 180, ../sass/base/_typography.scss */
.breadcrumb {
  font-size: 0.75em;
  text-transform: uppercase; }
  /* line 184, ../sass/base/_typography.scss */
  .breadcrumb a {
    line-height: 1;
    margin-right: 20px;
    padding-right: 30px;
    background: url(images/breadcrumb-arrrow.png) no-repeat right center;
    color: #fff; }
  /* line 192, ../sass/base/_typography.scss */
  .breadcrumb li:last-child {
    color: #82c459;
    text-transform: uppercase; }

/* line 198, ../sass/base/_typography.scss */
.btn-grey, .button-primary {
  color: #fff; }

/* line 203, ../sass/base/_typography.scss */
.btn-white a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
  text-shadow: none; }

/* line 213, ../sass/base/_typography.scss */
.field--name-field-section-heading {
  font-size: 1.5em; }

/* line 219, ../sass/base/_typography.scss */
.field--name-field-section-list-description p {
  margin: 0 !important; }

/* line 225, ../sass/base/_typography.scss */
.has-banner h1 {
  color: #fff; }

/* line 231, ../sass/base/_typography.scss */
.hp-events a {
  color: #fff; }
/* line 235, ../sass/base/_typography.scss */
.hp-events .pager {
  margin: 0;
  text-align: center;
  display: block;
  list-style-type: none; }
/* line 242, ../sass/base/_typography.scss */
.hp-events .pager-next, .hp-events .pager-previous {
  font-size: 3em;
  display: inline; }

/* line 249, ../sass/base/_typography.scss */
.hp-events-date {
  text-align: center;
  text-transform: uppercase;
  line-height: 1; }

/* line 257, ../sass/base/_typography.scss */
.l-header {
  color: #fff; }
  /* line 260, ../sass/base/_typography.scss */
  .l-header .block__title {
    display: none; }
  /* line 264, ../sass/base/_typography.scss */
  .l-header .menu {
    text-align: right;
    line-height: 0; }
    /* line 268, ../sass/base/_typography.scss */
    .l-header .menu a {
      color: #fff;
      text-transform: uppercase;
      line-height: 1; }
  /* line 276, ../sass/base/_typography.scss */
  .l-header .block--menu-menu-primary-menu a, .l-header .block--menu-menu-home-page-menu a, .l-header .block--menu-menu-primary-menu-home-page a {
    font-size: 1.15rem;
    font-weight: bold; }
  /* line 284, ../sass/base/_typography.scss */
  .l-header .menu-name-menu-secondary-menu a {
    font-weight: normal; }

/* line 293, ../sass/base/_typography.scss */
.l-header.before .block--menu-menu-primary-menu a {
  font-size: 1.1rem; }
/* line 299, ../sass/base/_typography.scss */
.l-header.before .menu-name-menu-secondary-menu a {
  font-size: 0.8rem; }

/* line 305, ../sass/base/_typography.scss */
.l-region--blue, .l-region--blue-two, .l-region--darkgrey, .l-region--grey {
  color: #fff; }

/* line 309, ../sass/base/_typography.scss */
.l-region--grey {
  text-align: center; }
  /* line 311, ../sass/base/_typography.scss */
  .l-region--grey .block__title {
    text-align: center; }

/* line 319, ../sass/base/_typography.scss */
.l-region--slideshow .flexslider li {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #000; }
/* line 325, ../sass/base/_typography.scss */
.l-region--slideshow .flexslider h1 {
  font-size: 1.8rem; }
/* line 332, ../sass/base/_typography.scss */
.l-region--slideshow .flexslider .teaser {
  font-size: 1rem;
  text-transform: none; }

/* line 348, ../sass/base/_typography.scss */
.l-region--footer-first {
  text-align: center; }
  /* line 354, ../sass/base/_typography.scss */
  .l-region--footer-first a {
    color: #6c696a; }
  /* line 358, ../sass/base/_typography.scss */
  .l-region--footer-first .menu {
    text-align: center; }
    /* line 363, ../sass/base/_typography.scss */
    .l-region--footer-first .menu li {
      font-size: 1.2rem; }
  /* line 367, ../sass/base/_typography.scss */
  .l-region--footer-first .expanded, .l-region--footer-first .parent-mlid-0 > .menu > li {
    text-transform: uppercase;
    font-weight: bold; }
  /* line 372, ../sass/base/_typography.scss */
  .l-region--footer-first .expanded > .menu > .leaf {
    text-transform: none;
    font-weight: normal;
    line-height: 2em; }

/* line 381, ../sass/base/_typography.scss */
.l-region--footer-first .footer-sm .block__title {
  font-size: 2em; }

/* line 388, ../sass/base/_typography.scss */
.node__title a {
  color: #6c696a; }

/* line 399, ../sass/base/_typography.scss */
.node-type-feature .l-content .field--name-body, .node-type-feature .l-content .field--name-field-additional-resources {
  color: #fff; }
/* line 404, ../sass/base/_typography.scss */
.node-type-feature .l-content .field__label {
  font-size: 2rem; }

/* line 411, ../sass/base/_typography.scss */
.page-casestudy-node .l-region--green, .page-nw-casestudy-node .l-region--green {
  color: #fff; }

/* line 419, ../sass/base/_typography.scss */
.section-nw-become-a-partner .quicktabs_main .node__title a {
  color: #fff; }

/* line 427, ../sass/base/_typography.scss */
.view-homepage-news a {
  color: #fff; }
/* line 431, ../sass/base/_typography.scss */
.view-homepage-news .views-field-view-node {
  font-weight: bold; }

/* line 437, ../sass/base/_typography.scss */
.view-rotating-partner-logos .partner-text {
  text-align: center; }
/* line 441, ../sass/base/_typography.scss */
.view-rotating-partner-logos a {
  text-indent: -8765px;
  line-height: 0;
  font-size: 0; }

/* line 449, ../sass/base/_typography.scss */
.view-service-providers a {
  font-weight: bold;
  text-transform: uppercase; }
/* line 454, ../sass/base/_typography.scss */
.view-service-providers .views-label {
  font-weight: bold; }
/* line 458, ../sass/base/_typography.scss */
.view-service-providers .contact-info {
  font-weight: bold; }

/* line 41, ../sass/components/_content.scss */
dd {
  margin: 0; }

/* line 45, ../sass/components/_content.scss */
table td, table th {
  padding: 8px 16px;
  font-size: 90%; }

/* line 50, ../sass/components/_content.scss */
table th {
  font-weight: bold;
  border-bottom: 1px solid; }

/* line 55, ../sass/components/_content.scss */
table tr.odd, table tr.even {
  background-color: white; }

/* line 59, ../sass/components/_content.scss */
tbody tr:hover {
  background-color: #eee; }

/* line 64, ../sass/components/_content.scss */
#block-search-form {
  display: none; }

/* line 69, ../sass/components/_content.scss */
#block-views-features-block {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 2%; }
  /* line 75, ../sass/components/_content.scss */
  #block-views-features-block .block__title {
    padding: 1%;
    margin: 1% 0; }
  /* line 80, ../sass/components/_content.scss */
  #block-views-features-block .icongrid .views-row {
    padding: 2%; }
  /* line 83, ../sass/components/_content.scss */
  #block-views-features-block .icongrid .views-field-field-one-sentence-summary {
    display: none;
    clear: both; }

/* line 90, ../sass/components/_content.scss */
#block-views-homepage-stats-block {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0 none; }
  /* line 95, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .view-content {
    padding-top: 60px; }
  /* line 99, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields {
    display: none; }
  /* line 111, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-controls-text {
    display: none; }
  /* line 116, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields .views-slideshow-pager-field-item {
    display: inline-block;
    margin-right: 20px; }
  /* line 121, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields .views-slideshow-pager-field-item.views-row-last {
    margin-right: 0; }
  /* line 125, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields .views-content-counter {
    text-indent: -8765px;
    width: 20px;
    height: 20px;
    background-color: #6c696a;
    cursor: pointer; }
  /* line 135, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-content-counter {
    background-color: #929294; }

/* line 141, ../sass/components/_content.scss */
#block-views-get-started-block, #block-views-get-started-block-1, #block-views-get-started-block-2 {
  max-width: 95%;
  margin: 0 0 2% 0;
  	/* .views-row {
  		text-align: center;
  		padding: 0 5% 0;
  		border-top: 1px solid $grey;	
  
  		@include breakpoint($desktop) {
  			border-top: none;
  			border-right: 1px solid $grey;	
  		}
  		
  	} */
  	/* .views-row-first {
  		border-top: none;
  	}
  
  	.views-row-last {
  		border-right: none;
  	} */ }
  /* line 146, ../sass/components/_content.scss */
  #block-views-get-started-block .block__title, #block-views-get-started-block-1 .block__title, #block-views-get-started-block-2 .block__title {
    text-align: center; }
  /* line 20, ../sass/components/_content.scss */
  #block-views-get-started-block .views-row, #block-views-get-started-block-1 .views-row, #block-views-get-started-block-2 .views-row {
    text-align: center;
    padding: 0 5% 0;
    border-top: 1px solid #6c696a; }
  /* line 32, ../sass/components/_content.scss */
  #block-views-get-started-block .views-row-first, #block-views-get-started-block-1 .views-row-first, #block-views-get-started-block-2 .views-row-first {
    border-top: none; }
  /* line 36, ../sass/components/_content.scss */
  #block-views-get-started-block .views-row-last, #block-views-get-started-block-1 .views-row-last, #block-views-get-started-block-2 .views-row-last {
    border-right: none; }
  /* line 178, ../sass/components/_content.scss */
  #block-views-get-started-block .views-field-field-option-number, #block-views-get-started-block-1 .views-field-field-option-number, #block-views-get-started-block-2 .views-field-field-option-number {
    display: inline-block; }
    /* line 180, ../sass/components/_content.scss */
    #block-views-get-started-block .views-field-field-option-number .field-content, #block-views-get-started-block-1 .views-field-field-option-number .field-content, #block-views-get-started-block-2 .views-field-field-option-number .field-content {
      width: 1.5em;
      height: 1.5em;
      border-radius: 2em;
      font-size: 3.5em;
      color: #fff;
      font-weight: 700; }
  /* line 201, ../sass/components/_content.scss */
  #block-views-get-started-block .views-field-field-button-link ul, #block-views-get-started-block-1 .views-field-field-button-link ul, #block-views-get-started-block-2 .views-field-field-button-link ul {
    list-style-type: none;
    -webkit-padding-start: 0; }
  /* line 206, ../sass/components/_content.scss */
  #block-views-get-started-block .views-field-field-button-link li, #block-views-get-started-block-1 .views-field-field-button-link li, #block-views-get-started-block-2 .views-field-field-button-link li {
    margin-bottom: 3%;
    padding: 0.5em 0;
    text-align: center; }
    /* line 211, ../sass/components/_content.scss */
    #block-views-get-started-block .views-field-field-button-link li a, #block-views-get-started-block-1 .views-field-field-button-link li a, #block-views-get-started-block-2 .views-field-field-button-link li a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700; }

/* #block-views-get-started-block-1 {
	@extend #block-views-get-started-block;

	.views-row {
		border-top: none;	
		padding-top: 0;

		@include breakpoint($desktop) {
			border-right: none;	
		}

		.views-field-title {
			min-height: 5rem;
		}

		.views-field-body {
			@include breakpoint($desktop-lg) {min-height: 20rem;}
			@include breakpoint($wide) {min-height: 13rem;}
		}
		
	}

	h3 {
		margin-bottom: 0;
	}
}

#block-views-get-started-block-2 {
	@extend #block-views-get-started-block;
	clear: both;

	.views-row {
		border-top: none;	
		padding-top: 0;

		@include breakpoint($desktop) {
			border-right: none;	
		}

		.views-field-title {
			min-height: 5rem;
		}

		.views-field-body {
			@include breakpoint($desktop-lg) {min-height: 20rem;}
			@include breakpoint($wide) {min-height: 13rem;}
		}
		
	}

	h3 {
		margin-bottom: 0;
	}
} */
/* line 276, ../sass/components/_content.scss */
#block-views-homepage-news-block {
  padding: 0 10% 5% 5%; }
  /* line 281, ../sass/components/_content.scss */
  #block-views-homepage-news-block h1 {
    font-size: 4.5rem; }

/* line 286, ../sass/components/_content.scss */
#block-views-homepage-news-block.left-two-thirds {
  display: inline-block;
  float: none; }

/* line 291, ../sass/components/_content.scss */
#page-title, .block-title, .block__title {
  padding-left: 2.5%; }

/* line 295, ../sass/components/_content.scss */
#views_slideshow_cycle_main_homepage_stats-block {
  display: inline-block; }
  /* line 298, ../sass/components/_content.scss */
  #views_slideshow_cycle_main_homepage_stats-block img {
    min-width: 300px; }

/* line 303, ../sass/components/_content.scss */
#views_slideshow_cycle_teaser_section_homepage_our_partners-block {
  width: 100% !important; }

/* line 307, ../sass/components/_content.scss */
.breadcrumb {
  background-color: #231f20;
  margin: 0;
  padding: 1% 8%;
  list-style-type: none; }
  /* line 313, ../sass/components/_content.scss */
  .breadcrumb li {
    display: inline-block; }

/* line 318, ../sass/components/_content.scss */
.btn-grey, .button-primary {
  display: inline-block;
  padding: 1em;
  background-color: #6c696a; }

/* line 324, ../sass/components/_content.scss */
.btn-white {
  display: inline-block;
  padding: 1em;
  background-color: #fff;
  box-shadow: 2px 2px 2px #000;
  margin-top: 4%; }

/* line 332, ../sass/components/_content.scss */
.button-primary {
  background-color: #00969b;
  padding: 0.5rem 1rem; }

/* line 339, ../sass/components/_content.scss */
.bluegreen {
  background-color: #00969b; }

/* line 343, ../sass/components/_content.scss */
.pink {
  background-color: #de447a; }

/* line 347, ../sass/components/_content.scss */
.green {
  background-color: #82c459; }

/* line 351, ../sass/components/_content.scss */
.hero {
  display: inherit;
  padding: 2% 4% 2% 7%; }
  /* line 355, ../sass/components/_content.scss */
  .hero .l-region--hero-right {
    border-bottom: 1px solid #393536; }
  /* line 365, ../sass/components/_content.scss */
  .hero .l-region--hero-left {
    padding-right: 2%; }

/* line 371, ../sass/components/_content.scss */
.hp-events .views-row {
  margin-bottom: 4%; }
/* line 375, ../sass/components/_content.scss */
.hp-events .pager-current {
  display: none; }

/* line 380, ../sass/components/_content.scss */
.hp-events-date {
  border: 1px solid #fff;
  /* width: 12%; */
  padding: 2%;
  display: inline-block;
  /* float: left; */
  margin-right: 4%;
  vertical-align: top; }

/* line 391, ../sass/components/_content.scss */
.hp-events-title {
  display: inline-block;
  width: 75%; }

/* line 396, ../sass/components/_content.scss */
.i-facebook {
  background: url(images/icons/civi-sprite.png) no-repeat -210px -1875px; }

/* line 400, ../sass/components/_content.scss */
.i-linkedin {
  background: url(images/icons/civi-sprite.png) no-repeat -210px -1930px; }

/* line 404, ../sass/components/_content.scss */
.i-twitter {
  background: url(images/icons/civi-sprite.png) no-repeat -210px -2040px; }

/* line 408, ../sass/components/_content.scss */
.l-content {
  margin: auto; }

/* line 414, ../sass/components/_content.scss */
.front .l-content {
  max-width: 100%; }

/* line 420, ../sass/components/_content.scss */
.not-front .icongrid {
  text-align: center; }
  /* line 422, ../sass/components/_content.scss */
  .not-front .icongrid .views-field-field-icon {
    margin-top: 5%; }

/* line 429, ../sass/components/_content.scss */
.node-type-feature .l-content {
  max-width: 100vw; }
  /* line 433, ../sass/components/_content.scss */
  .node-type-feature .l-content #page-title, .node-type-feature .l-content .block-title, .node-type-feature .l-content .block__title {
    padding: 0 2.5%; }
  /* line 437, ../sass/components/_content.scss */
  .node-type-feature .l-content .field {
    padding: 0 2.5%; }
  /* line 445, ../sass/components/_content.scss */
  .node-type-feature .l-content .field--name-body, .node-type-feature .l-content .field--name-field-additional-resources {
    background-color: #056186;
    padding: 1% 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100vw; }
  /* line 453, ../sass/components/_content.scss */
  .node-type-feature .l-content .field--name-field-additional-resources {
    margin-bottom: 0;
    background-color: #82c459;
    color: #fff; }

/* line 3, ../sass/components/_content.scss */
.l-main .l-region--blue {
  width: 100vw;
  display: inline-block;
  background-color: #056186; }
/* line 3, ../sass/components/_content.scss */
.l-main .l-region--black {
  width: 100vw;
  display: inline-block;
  background-color: #000;
  min-height: 20rem; }
  /* line 474, ../sass/components/_content.scss */
  .l-main .l-region--black .left-half {
    padding: 5%;
    color: #fff; }
/* line 3, ../sass/components/_content.scss */
.l-main .l-region--blue-two {
  width: 100vw;
  display: inline-block;
  background-color: #056186;
  text-align: center; }
  /* line 484, ../sass/components/_content.scss */
  .l-main .l-region--blue-two .blue-two-inner {
    margin: 0;
    display: inline-block;
    text-align: left; }
  /* line 491, ../sass/components/_content.scss */
  .l-main .l-region--blue-two .block {
    padding: 0 5%; }
/* line 3, ../sass/components/_content.scss */
.l-main .l-region--green {
  width: 100vw;
  display: inline-block;
  background-color: #82c459; }
/* line 3, ../sass/components/_content.scss */
.l-main .l-region--white {
  width: 100vw;
  display: inline-block;
  text-align: center; }
/* line 3, ../sass/components/_content.scss */
.l-main .l-region--white-two {
  width: 100vw;
  display: inline-block;
  text-align: center; }
/* line 3, ../sass/components/_content.scss */
.l-main .l-region--grey {
  width: 100vw;
  display: inline-block;
  background-color: #6c696a;
  padding: 0 5%;
  min-height: 50em; }
/* line 3, ../sass/components/_content.scss */
.l-main .l-region--dark-grey {
  width: 100vw;
  display: inline-block;
  background-color: #393536; }

/* line 527, ../sass/components/_content.scss */
.l-page {
  max-width: 1900px; }

/* line 531, ../sass/components/_content.scss */
.l-region--slideshow {
  width: 100%;
  display: block;
  height: 100vh; }
  /* line 536, ../sass/components/_content.scss */
  .l-region--slideshow .flexslider {
    margin: 0;
    border: none;
    height: 100vh; }
    /* line 545, ../sass/components/_content.scss */
    .l-region--slideshow .flexslider .slides > li {
      padding: 0% 5% 5%;
      height: 100vh; }
    /* line 557, ../sass/components/_content.scss */
    .l-region--slideshow .flexslider .flex-control-paging {
      bottom: 8px;
      right: 5%;
      text-align: right;
      z-index: 9999;
      position: relative;
      bottom: 12rem; }
      /* line 568, ../sass/components/_content.scss */
      .l-region--slideshow .flexslider .flex-control-paging li > a {
        background-color: #393536;
        border-radius: 0;
        -webkit-border-radius: 0;
        height: 25px;
        width: 25px; }
      /* line 582, ../sass/components/_content.scss */
      .l-region--slideshow .flexslider .flex-control-paging li > a.flex-active {
        background-color: #00969b; }
    /* line 587, ../sass/components/_content.scss */
    .l-region--slideshow .flexslider .flex-direction-nav {
      display: none; }

/* line 594, ../sass/components/_content.scss */
.less-info {
  padding: 1.5em;
  border-top: 1px solid #ccc; }

/* line 600, ../sass/components/_content.scss */
.links--inline li {
  border-right: 2px solid #6c696a;
  padding: 0 1em;
  line-height: 1;
  margin-right: 0; }
/* line 607, ../sass/components/_content.scss */
.links--inline li:last-child {
  border-right: 0; }

/* line 612, ../sass/components/_content.scss */
.more-info, .less-info {
  margin-top: 3%; }
  /* line 614, ../sass/components/_content.scss */
  .more-info a, .less-info a {
    padding: 1em;
    background-color: #393536;
    color: #fff; }

/* line 621, ../sass/components/_content.scss */
.more-info {
  margin-bottom: 5%; }

/* line 625, ../sass/components/_content.scss */
.node--blog {
  padding-bottom: 2em;
  border-bottom: 1px solid #b7b8b9;
  margin-bottom: 2em; }

/* line 632, ../sass/components/_content.scss */
.page-casestudy-node .l-content, .page-nw-casestudy-node .l-content, .view-civi-case-study .l-content {
  max-width: 100%; }
  /* line 635, ../sass/components/_content.scss */
  .page-casestudy-node .l-content #page-title, .page-casestudy-node .l-content .block-title, .page-casestudy-node .l-content .block__title, .page-nw-casestudy-node .l-content #page-title, .page-nw-casestudy-node .l-content .block-title, .page-nw-casestudy-node .l-content .block__title, .view-civi-case-study .l-content #page-title, .view-civi-case-study .l-content .block-title, .view-civi-case-study .l-content .block__title {
    padding: 0 2%; }
  /* line 639, ../sass/components/_content.scss */
  .page-casestudy-node .l-content .field-content, .page-nw-casestudy-node .l-content .field-content, .view-civi-case-study .l-content .field-content {
    padding: 0 2%; }
  /* line 643, ../sass/components/_content.scss */
  .page-casestudy-node .l-content .views-label, .page-nw-casestudy-node .l-content .views-label, .view-civi-case-study .l-content .views-label {
    padding: 0 2%; }
  /* line 647, ../sass/components/_content.scss */
  .page-casestudy-node .l-content .l-region--green, .page-nw-casestudy-node .l-content .l-region--green, .view-civi-case-study .l-content .l-region--green {
    padding: 2%; }

/* line 653, ../sass/components/_content.scss */
.quicktabs_main.quicktabs-style-sky {
  border: 0;
  background-color: transparent; }

/* line 658, ../sass/components/_content.scss */
ul.quicktabs-tabs.quicktabs-style-sky {
  display: inline-block; }
  /* line 664, ../sass/components/_content.scss */
  ul.quicktabs-tabs.quicktabs-style-sky li a, ul.quicktabs-tabs.quicktabs-style-sky li.active a, ul.quicktabs-tabs.quicktabs-style-sky li.active a:visited {
    top: -3.18em;
    background: #fff;
    color: #393536;
    border-bottom: 0;
    border-color: #6c696a; }

/* line 674, ../sass/components/_content.scss */
.node-type-sectioned-page #page-title, .node-type-sectioned-page .block-title, .node-type-sectioned-page .block__title {
  padding: 0 5%; }
/* line 678, ../sass/components/_content.scss */
.node-type-sectioned-page .l-content {
  max-width: 100%; }
  /* line 681, ../sass/components/_content.scss */
  .node-type-sectioned-page .l-content .section {
    padding: 5%; }
/* line 686, ../sass/components/_content.scss */
.node-type-sectioned-page .view-section-list-formatter {
  margin-bottom: 20%; }

/* line 694, ../sass/components/_content.scss */
.pageheader {
  display: inline-block;
  width: 100%;
  min-height: 40vh; }

/* line 700, ../sass/components/_content.scss */
.field-content {
  padding: 0 2.5% 1%; }

/* line 705, ../sass/components/_content.scss */
.views-field-field-image .field-content {
  padding: 0; }

/* line 710, ../sass/components/_content.scss */
.views-label {
  padding-left: 2.5%;
  margin-bottom: 0; }

/* line 715, ../sass/components/_content.scss */
.view-service-providers {
  	/* .views-field-nothing {
  		text-align: center;
  		@include breakpoint($tablet) {
  			text-align: left;
  		}
  
  		.display-name {
  			max-width: 100%;
  		}
  
  		.name-logo {
  			max-width: 100%;
  			clear:both;
  			img {
  				max-width: 50%;
  			}
  		}
  
  	} */
  	/* .views-field-nothing-1 {
  		text-align: center;
  		@include breakpoint($tablet) {
  			text-align: left;
  		}
  		.display-name {
  			max-width: 100%;
  		}
  
  		.name-logo {
  			max-width: 100%;
  			clear:both;
  			img {
  				max-width: 50%;
  			}
  		}
  
  		.contact-div {
  			max-width: 100%;
  			clear: both;
  			margin-bottom: 5%;
  		}
  
  		.civi-image {
  			max-width: 100%;
  			clear: both;
  			margin-bottom: 5%;
  
  		}
  
  		.more-info {
  			max-width: 100%;
  			clear: both;
  			margin-bottom: 5%;
  		}
  	} */ }
  /* line 716, ../sass/components/_content.scss */
  .view-service-providers .views-row {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }

/* line 779, ../sass/components/_content.scss */
.view-rotating-partner-logos .views_slideshow_cycle_slide {
  width: 100% !important;
  padding: 0 2%; }

/* line 783, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-text {
  text-align: center;
  padding: 0 3%; }

/* line 790, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-text h5,
.view-rotating-partner-logos .partner-contact h5 {
  font-size: 1.29em;
  margin-top: 0;
  margin-bottom: 0.8%; }

/* line 796, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-contact {
  border-top: 1px solid #fff;
  padding-top: 5%; }

/* line 808, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-img {
  text-align: center; }
  /* line 810, ../sass/components/_content.scss */
  .view-rotating-partner-logos .partner-img img {
    max-width: 180px; }

/* line 814, ../sass/components/_content.scss */
.view-rotating-partner-logos .pad {
  padding: 20px; }

/* line 817, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-pause {
  display: none; }

/* line 820, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-previous a,
.view-rotating-partner-logos .views-slideshow-controls-text-next a {
  position: absolute;
  width: 40px;
  height: 70px;
  display: block;
  text-indent: -8765px;
  line-height: 0;
  font-size: 0;
  z-index: 999;
  bottom: -10%; }

/* line 835, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-previous a {
  background: url(images/arrow-prev-white.png) no-repeat 0 0;
  left: 0; }

/* line 839, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-next a {
  background: url(images/arrow-next-white.png) no-repeat 0 0;
  right: 0; }

/* line 3, ../sass/components/_footer.scss */
.l-footer .l-region--footer-first {
  background-color: #393536;
  padding: 1.5em;
  width: 100vw; }
  /* line 8, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .block--menu-block {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 5%; }
  /* line 18, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .footer-sm h2, .l-footer .l-region--footer-first .footer-sm .field--name-field-section-heading, .l-footer .l-region--footer-first .footer-sm .node-type-feature .l-content .field--name-field-top-feature-heading, .node-type-feature .l-content .l-footer .l-region--footer-first .footer-sm .field--name-field-top-feature-heading {
    display: inline-block;
    margin: 0; }
  /* line 23, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .footer-sm .block__title {
    float: left;
    margin-top: 0;
    margin-right: 2em; }
  /* line 30, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .footer-sm .content a {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-indent: -8765px;
    background: url(/sites/all/themes/civicrm_o4/images/civi-sprite.png) no-repeat -210px -2040px; }
  /* line 39, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .footer-sm .social-icons {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle; }
    /* line 45, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .footer-sm .social-icons ul {
      list-style-type: none; }
    /* line 49, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .footer-sm .social-icons li {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0 0.3rem; }
    /* line 56, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .footer-sm .social-icons a {
      color: transparent;
      line-height: 50px;
      padding: 16px 0;
      vertical-align: bottom; }
  /* line 66, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .menu {
    padding-left: 0; }
    /* line 69, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .menu li {
      list-style: none;
      margin-right: 0; }
    /* line 74, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .menu .expanded {
      float: left; }
      /* line 76, ../sass/components/_footer.scss */
      .l-footer .l-region--footer-first .menu .expanded ul {
        margin-top: 0; }
  /* line 13, ../../../../../../../../../.rvm/gems/ruby-2.2.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
  .l-footer .l-region--footer-first:after {
    content: "";
    display: table;
    clear: both; }
/* line 89, ../sass/components/_footer.scss */
.l-footer .l-region--footer-second {
  padding: 1.5em; }
  /* line 92, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-second p {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%; }

/* line 1, ../sass/components/_header.scss */
.l-header {
  background-color: #393536;
  height: 6em;
  padding: 0.8em 1.5em;
  z-index: 9999999; }
  /* line 7, ../sass/components/_header.scss */
  .l-header .l-header-inner {
    max-width: 90%; }
  /* line 13, ../sass/components/_header.scss */
  .l-header .l-branding {
    width: 50%;
    margin-top: 0.5em; }
  /* line 23, ../sass/components/_header.scss */
  .l-header .l-region--menu .menu-name-menu-secondary-menu, .l-header .l-region--menu .block--menu-menu-primary-menu {
    display: none; }
  /* line 47, ../sass/components/_header.scss */
  .l-header .menu {
    text-align: right;
    padding: 0.5% 0;
    margin: 0; }
    /* line 52, ../sass/components/_header.scss */
    .l-header .menu li {
      list-style: none outside none;
      display: inline-block;
      margin: 0 0.75em;
      padding: 0;
      vertical-align: top; }
  /* line 64, ../sass/components/_header.scss */
  .l-header .block--menu-menu-home-page-menu .menu li a, .l-header .block--menu-menu-primary-menu-home-page .menu li a {
    padding: 0 0 1.3rem 0; }
  /* line 69, ../sass/components/_header.scss */
  .l-header .block--menu-menu-home-page-menu .menu li a:hover, .l-header .block--menu-menu-primary-menu-home-page .menu li a:hover {
    background: url(../images/active-arrow.png) no-repeat center bottom; }
  /* line 73, ../sass/components/_header.scss */
  .l-header .block--menu-menu-home-page-menu .menu li .selected, .l-header .block--menu-menu-primary-menu-home-page .menu li .selected {
    background: url(../images/active-arrow.png) no-repeat center bottom; }
  /* line 85, ../sass/components/_header.scss */
  .l-header .block--menu-menu-primary-menu .menu li a {
    padding: 0 0 1.3rem 0; }
  /* line 90, ../sass/components/_header.scss */
  .l-header .block--menu-menu-primary-menu .menu li a:hover {
    background: url(../images/active-arrow.png) no-repeat center bottom; }
  /* line 94, ../sass/components/_header.scss */
  .l-header .block--menu-menu-primary-menu .menu li .active {
    background: url(../images/active-arrow.png) no-repeat center bottom; }

/* line 105, ../sass/components/_header.scss */
.scroll-to-fixed-fixed {
  width: 100% !important; }

/* line 109, ../sass/components/_header.scss */
.l-header.before {
  display: block; }
  /* line 112, ../sass/components/_header.scss */
  .l-header.before .l-header-inner {
    max-width: 100%; }
  /* line 116, ../sass/components/_header.scss */
  .l-header.before .menubutton {
    float: right; }
    /* line 118, ../sass/components/_header.scss */
    .l-header.before .menubutton a {
      font-size: 4rem;
      color: #fff;
      line-height: 3rem; }
    /* line 124, ../sass/components/_header.scss */
    .l-header.before .menubutton .fa {
      vertical-align: top; }

/* line 134, ../sass/components/_header.scss */
.l-header.after {
  display: none; }

/* line 48, ../sass/sprites/_icons.scss */
.icons-sprite {
  background-image: url('../images/generated/icons-s9d4c8bdf7e.png');
  background-repeat: no-repeat; }

/*# sourceMappingURL=civicrm_theme_omsass.no-query.css.map */
