/*
* jcarousel mixin
* @author Lee Rowlands (rowlandsgroup.com)
* @param $selector carousel selector)
* @param $carousel_width 
* @param $carousel_height
* @param $carousel_padding 
* @param $item_width 
* @param $item_height 
* @param $item_margin 
* @param $button_width 
* @param $button_height 
* @param $button_image 
* @param $button_top
* @param $button_left 
* @param $button_right 
* @param $button_left_position (background position)
* @param $button_right_position 
* @param $button_left_position_hover 
* @param $button_right_position_hover 
* @param $button_left_position_disabled 
* @param $button_right_position_disabled
*/
/* No files to import found in abstractions/**\/* */
/* line 4, ../sass/base/_grids.scss */
#block-views-get-started-block {
  display: inline-block; }

/* line 42, ../sass/base/_grids.scss */
.front .hero {
  display: inline-block;
  clear: both; }
  /* line 47, ../sass/base/_grids.scss */
  .front .hero .l-region--hero-left {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 51, ../sass/base/_grids.scss */
  .front .hero .l-region--hero-right {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

/* line 79, ../sass/base/_grids.scss */
.l-header .l-header-inner {
  max-width: 90%;
  margin: auto; }
/* line 84, ../sass/base/_grids.scss */
.l-header .l-branding {
  width: 44.44444%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

/* line 97, ../sass/base/_grids.scss */
.l-main {
  width: 100%; }

/* line 104, ../sass/base/_grids.scss */
.l-footer {
  clear: both; }

/* line 108, ../sass/base/_grids.scss */
.l-region--blue {
  width: 100%; }

/* line 114, ../sass/base/_grids.scss */
.l-region--blue-two {
  width: 100%;
  @add-grid (3);
  @add-gutter (.25); }

/* line 122, ../sass/base/_grids.scss */
.l-region--footer-first .footer-sm {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  clear: right; }
/* line 127, ../sass/base/_grids.scss */
.l-region--footer-first .block--search-form {
  width: 15.25424%;
  float: left;
  margin-right: -100%;
  margin-left: 67.79661%;
  clear: none; }
/* line 131, ../sass/base/_grids.scss */
.l-region--footer-first .block--menu-block {
  clear: both; }
  /* line 136, ../sass/base/_grids.scss */
  .l-region--footer-first .block--menu-block .menu-level-1 > .menu > li:nth-child(n) {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0;
    clear: none; }
  /* line 140, ../sass/base/_grids.scss */
  .l-region--footer-first .block--menu-block .menu-level-1 > .menu > li:nth-child(1n+1) {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0; }

/* line 171, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .display-name {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 175, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .p-logo {
  width: 40%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  width: 20%;
  clear: right; }
  /* line 180, ../sass/base/_grids.scss */
  .view-service-providers .views-field-nothing .p-logo .civi-image {
    margin-top: 100%; }
/* line 193, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .p-data {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 80%;
  padding-left: 3%; }
/* line 207, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .less-info {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 215, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 display-name {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 219, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .name-logo {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  width: 20%;
  max-width: 150px; }
/* line 228, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .contact-div {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 37.5%;
  clear: none;
  width: 60%;
  margin-left: 20%; }
  /* line 233, ../sass/base/_grids.scss */
  .view-service-providers .views-field-nothing-1 .contact-div .contact-info {
    margin-top: 0 !important; }
/* line 251, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .civi-image {
  width: 25%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 20%; }
/* line 268, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .more-info {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 1, ../sass/base/_lists.scss */
ul, ol {
  margin: 1.8em 0;
  padding: 0 0 0 2.4em; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/base/_typography.scss */
body {
  font-family: "Source Sans Pro";
  line-height: 1.4 !important;
  color: #6c696a;
  font-size: 16px !important; }

/* line 9, ../sass/base/_typography.scss */
a {
  text-decoration: none;
  color: #5c96ad; }

/* line 14, ../sass/base/_typography.scss */
h1, h2, .field--name-field-section-heading, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: 700; }

/* line 19, ../sass/base/_typography.scss */
h3 {
  font-size: 1.57em;
  /* 22px @ 14px */ }

/* line 22, ../sass/base/_typography.scss */
h4 {
  font-size: 1.29em;
  /* 18px @ 14px */ }

/* line 26, ../sass/base/_typography.scss */
h5 {
  font-size: 1.29em; }

/* line 30, ../sass/base/_typography.scss */
p {
  line-height: 1.4 !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important; }

/* line 36, ../sass/base/_typography.scss */
input.form-submit {
  border: 0 none;
  cursor: pointer; }

/* line 41, ../sass/base/_typography.scss */
td, th {
  font-weight: normal;
  text-align: left; }

/* line 46, ../sass/base/_typography.scss */
.btn-grey {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  /* line 51, ../sass/base/_typography.scss */
  .btn-grey a {
    color: #fff; }

/* line 58, ../sass/base/_typography.scss */
#block-delta-blocks-breadcrumb li a {
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  /* 18px @ 24px */ }
  /* line 64, ../sass/base/_typography.scss */
  #block-delta-blocks-breadcrumb li a a.active {
    color: #393536; }

/* line 73, ../sass/base/_typography.scss */
#block-views-features-block {
  text-align: center; }
  /* line 75, ../sass/base/_typography.scss */
  #block-views-features-block .block__title {
    text-align: center; }
  /* line 79, ../sass/base/_typography.scss */
  #block-views-features-block .views-field-title {
    text-decoration: uppercase; }

/* line 84, ../sass/base/_typography.scss */
#block-views-homepage-stats-block {
  text-align: center; }
  /* line 86, ../sass/base/_typography.scss */
  #block-views-homepage-stats-block a {
    text-indent: -8765px; }
  /* line 90, ../sass/base/_typography.scss */
  #block-views-homepage-stats-block h5 {
    color: #056186;
    text-align: center; }

/* line 96, ../sass/base/_typography.scss */
#page-title, .block-title, .block__title {
  font-size: 3.5em;
  /* 50px @ 24px */
  line-height: 1;
  text-align: left; }

/* line 108, ../sass/base/_typography.scss */
#zone-blue a {
  color: #fff; }

/* line 118, ../sass/base/_typography.scss */
#zone-white a {
  color: #fff; }

/* line 124, ../sass/base/_typography.scss */
#zone-dark-grey .block-title {
  font-size: 1em;
  /* 24px @ 24px */
  text-transform: none; }
/* line 130, ../sass/base/_typography.scss */
#zone-dark-grey a {
  color: #fff; }

/* line 136, ../sass/base/_typography.scss */
.align-left {
  text-align: left; }

/* line 139, ../sass/base/_typography.scss */
.align-right {
  text-align: right; }

/* line 142, ../sass/base/_typography.scss */
.align-center, #zone-blue .block-title, #zone-white .block-title, #zone-dark-grey .block-title {
  text-align: center; }

/* line 156, ../sass/base/_typography.scss */
.breadcrumb {
  font-size: 0.75em;
  text-transform: uppercase; }
  /* line 160, ../sass/base/_typography.scss */
  .breadcrumb a {
    line-height: 1;
    margin-right: 20px;
    padding-right: 30px;
    background: url(images/breadcrumb-arrrow.png) no-repeat right center;
    color: #fff; }
  /* line 168, ../sass/base/_typography.scss */
  .breadcrumb li:last-child {
    color: #82c459;
    text-transform: uppercase; }

/* line 174, ../sass/base/_typography.scss */
.btn-grey {
  color: #fff; }

/* line 179, ../sass/base/_typography.scss */
.btn-white a {
  text-transform: uppercase;
  font-size: 1.57rem;
  /* 22px @ 14px */
  font-weight: bold;
  color: #000;
  text-shadow: none; }

/* line 188, ../sass/base/_typography.scss */
.field--name-field-section-heading {
  font-size: 1.5em; }

/* line 194, ../sass/base/_typography.scss */
.field--name-field-section-list-description p {
  margin: 0 !important; }

/* line 200, ../sass/base/_typography.scss */
.has-banner h1 {
  color: #fff; }

/* line 206, ../sass/base/_typography.scss */
.hp-events a {
  color: #fff; }
/* line 210, ../sass/base/_typography.scss */
.hp-events .pager {
  margin: 0;
  text-align: center;
  display: block;
  list-style-type: none; }
/* line 217, ../sass/base/_typography.scss */
.hp-events .pager-next, .hp-events .pager-previous {
  font-size: 3em;
  display: inline; }

/* line 224, ../sass/base/_typography.scss */
.hp-events-date {
  text-align: center;
  text-transform: uppercase;
  line-height: 1; }

/* line 232, ../sass/base/_typography.scss */
.l-header {
  color: #fff; }
  /* line 235, ../sass/base/_typography.scss */
  .l-header .block__title {
    display: none; }
  /* line 239, ../sass/base/_typography.scss */
  .l-header .menu {
    text-align: right;
    line-height: 0; }
    /* line 243, ../sass/base/_typography.scss */
    .l-header .menu a {
      color: #fff;
      text-transform: uppercase;
      line-height: 1; }
  /* line 251, ../sass/base/_typography.scss */
  .l-header .block--menu-menu-primary-menu a {
    font-size: 1.3em;
    /* 20px @ 24px */
    font-weight: bold; }
  /* line 258, ../sass/base/_typography.scss */
  .l-header .menu-name-menu-secondary-menu a {
    font-weight: normal; }

/* line 265, ../sass/base/_typography.scss */
.l-region--blue, .l-region--blue-two, .l-region--darkgrey, .l-region--grey {
  color: #fff; }

/* line 269, ../sass/base/_typography.scss */
.l-region--grey {
  text-align: center; }
  /* line 271, ../sass/base/_typography.scss */
  .l-region--grey .block__title {
    text-align: center; }

/* line 279, ../sass/base/_typography.scss */
.l-region--slideshow .flexslider li {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #000; }
/* line 285, ../sass/base/_typography.scss */
.l-region--slideshow .flexslider h1 {
  font-size: 4rem; }
/* line 289, ../sass/base/_typography.scss */
.l-region--slideshow .flexslider .teaser {
  font-size: 2rem;
  text-transform: none; }

/* line 302, ../sass/base/_typography.scss */
.l-region--footer-first {
  text-align: center; }
  /* line 308, ../sass/base/_typography.scss */
  .l-region--footer-first a {
    color: #6c696a; }
  /* line 312, ../sass/base/_typography.scss */
  .l-region--footer-first .menu {
    text-align: center; }
    /* line 317, ../sass/base/_typography.scss */
    .l-region--footer-first .menu li {
      font-size: 1.2rem; }
  /* line 321, ../sass/base/_typography.scss */
  .l-region--footer-first .expanded, .l-region--footer-first .parent-mlid-0 > .menu > li {
    text-transform: uppercase;
    font-weight: bold; }
  /* line 326, ../sass/base/_typography.scss */
  .l-region--footer-first .expanded > .menu > .leaf {
    text-transform: none;
    font-weight: normal;
    line-height: 2em; }

/* line 335, ../sass/base/_typography.scss */
.l-region--footer-first .footer-sm .block__title {
  font-size: 2em; }

/* line 342, ../sass/base/_typography.scss */
.node__title a {
  color: #6c696a; }

/* line 348, ../sass/base/_typography.scss */
.view-homepage-news a {
  color: #fff; }
/* line 352, ../sass/base/_typography.scss */
.view-homepage-news .views-field-view-node {
  font-weight: bold; }

/* line 358, ../sass/base/_typography.scss */
.view-rotating-partner-logos .partner-text {
  text-align: center; }
/* line 362, ../sass/base/_typography.scss */
.view-rotating-partner-logos a {
  text-indent: -8765px;
  line-height: 0;
  font-size: 0; }

/* line 370, ../sass/base/_typography.scss */
.view-service-providers a {
  font-weight: bold;
  text-transform: uppercase; }
/* line 375, ../sass/base/_typography.scss */
.view-service-providers .views-label {
  font-weight: bold; }
/* line 379, ../sass/base/_typography.scss */
.view-service-providers .contact-info {
  font-weight: bold; }

/* line 1, ../sass/components/_content.scss */
#block-views-features-block {
  margin: 0 auto;
  display: block;
  width: 80%;
  padding: 2%; }
  /* line 6, ../sass/components/_content.scss */
  #block-views-features-block .block__title {
    padding: 1%;
    margin: 1% 0; }
  /* line 11, ../sass/components/_content.scss */
  #block-views-features-block .icongrid .views-row {
    padding: 2%; }
  /* line 14, ../sass/components/_content.scss */
  #block-views-features-block .icongrid .views-field-field-one-sentence-summary {
    display: none;
    clear: both; }

/* line 21, ../sass/components/_content.scss */
#block-views-homepage-stats-block {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0 none; }
  /* line 26, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .view-content {
    padding-top: 60px; }
  /* line 30, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields {
    display: none; }
  /* line 42, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-controls-text {
    display: none; }
  /* line 47, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields .views-slideshow-pager-field-item {
    display: inline-block;
    margin-right: 20px; }
  /* line 52, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields .views-slideshow-pager-field-item.views-row-last {
    margin-right: 0; }
  /* line 56, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields .views-content-counter {
    text-indent: -8765px;
    width: 20px;
    height: 20px;
    background-color: #6c696a;
    cursor: pointer; }
  /* line 66, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-content-counter {
    background-color: #929294; }

/* line 72, ../sass/components/_content.scss */
#block-views-get-started-block {
  max-width: 95%;
  margin: 0 0 2% 0; }
  /* line 77, ../sass/components/_content.scss */
  #block-views-get-started-block .block__title {
    text-align: center; }
  /* line 81, ../sass/components/_content.scss */
  #block-views-get-started-block .bluegreen {
    background-color: #00969b; }
  /* line 85, ../sass/components/_content.scss */
  #block-views-get-started-block .pink {
    background-color: #de447a; }
  /* line 89, ../sass/components/_content.scss */
  #block-views-get-started-block .green {
    background-color: #82c459; }
  /* line 93, ../sass/components/_content.scss */
  #block-views-get-started-block .views-row {
    text-align: center;
    padding: 5% 5% 0;
    border-top: 1px solid #6c696a; }
  /* line 105, ../sass/components/_content.scss */
  #block-views-get-started-block .views-row-first {
    border-top: none; }
  /* line 109, ../sass/components/_content.scss */
  #block-views-get-started-block .views-row-last {
    border-right: none; }
  /* line 119, ../sass/components/_content.scss */
  #block-views-get-started-block .views-field-field-option-number {
    display: inline-block; }
    /* line 121, ../sass/components/_content.scss */
    #block-views-get-started-block .views-field-field-option-number .field-content {
      width: 1.5em;
      height: 1.5em;
      border-radius: 2em;
      font-size: 3.5em;
      color: #fff;
      font-weight: 700; }
  /* line 139, ../sass/components/_content.scss */
  #block-views-get-started-block .views-field-field-button-link ul {
    list-style-type: none;
    -webkit-padding-start: 0; }
  /* line 144, ../sass/components/_content.scss */
  #block-views-get-started-block .views-field-field-button-link li {
    margin-bottom: 3%;
    padding: 0.5em 0;
    text-align: center; }
    /* line 149, ../sass/components/_content.scss */
    #block-views-get-started-block .views-field-field-button-link li a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700; }

/* line 159, ../sass/components/_content.scss */
#block-views-homepage-news-block {
  padding: 0 10% 0 2%;
  min-height: 30em; }
  /* line 163, ../sass/components/_content.scss */
  #block-views-homepage-news-block h1 {
    font-size: 4.5rem; }

/* line 168, ../sass/components/_content.scss */
#views_slideshow_cycle_main_homepage_stats-block {
  display: inline-block; }
  /* line 171, ../sass/components/_content.scss */
  #views_slideshow_cycle_main_homepage_stats-block img {
    min-width: 300px; }

/* line 176, ../sass/components/_content.scss */
#views_slideshow_cycle_teaser_section_homepage_our_partners-block {
  width: 100% !important; }

/* line 180, ../sass/components/_content.scss */
.breadcrumb {
  background-color: #231f20;
  margin: 0;
  padding: 1% 8%;
  list-style-type: none; }
  /* line 186, ../sass/components/_content.scss */
  .breadcrumb li {
    display: inline-block; }

/* line 191, ../sass/components/_content.scss */
.btn-grey {
  display: inline-block;
  padding: 1em;
  background-color: #6c696a; }

/* line 197, ../sass/components/_content.scss */
.btn-white {
  display: inline-block;
  padding: 1em;
  background-color: #fff;
  box-shadow: 2px 2px 2px #000;
  margin-top: 4%; }

/* line 205, ../sass/components/_content.scss */
.hero {
  display: inherit;
  padding: 2% 4% 2% 7%; }
  /* line 209, ../sass/components/_content.scss */
  .hero .l-region--hero-right {
    border-bottom: 1px solid #393536; }
  /* line 219, ../sass/components/_content.scss */
  .hero .l-region--hero-left {
    padding-right: 2%; }

/* line 225, ../sass/components/_content.scss */
.hp-events .views-row {
  margin-bottom: 4%; }
/* line 229, ../sass/components/_content.scss */
.hp-events .pager-current {
  display: none; }

/* line 234, ../sass/components/_content.scss */
.hp-events-date {
  border: 1px solid #fff;
  /* width: 12%; */
  padding: 2%;
  display: inline-block;
  /* float: left; */
  margin-right: 4%;
  vertical-align: top; }

/* line 245, ../sass/components/_content.scss */
.hp-events-title {
  display: inline-block;
  width: 75%; }

/* line 250, ../sass/components/_content.scss */
.i-facebook {
  background: url(images/icons/civi-sprite.png) no-repeat -210px -1875px; }

/* line 254, ../sass/components/_content.scss */
.i-linkedin {
  background: url(images/icons/civi-sprite.png) no-repeat -210px -1930px; }

/* line 258, ../sass/components/_content.scss */
.i-twitter {
  background: url(images/icons/civi-sprite.png) no-repeat -210px -2040px; }

/* line 262, ../sass/components/_content.scss */
.l-content {
  max-width: 95%;
  margin: auto; }

/* line 268, ../sass/components/_content.scss */
.front .l-content {
  max-width: 100%; }

/* line 276, ../sass/components/_content.scss */
.l-main .l-region--blue {
  background-color: #056186;
  display: inline-block; }
/* line 281, ../sass/components/_content.scss */
.l-main .l-region--blue-two {
  background-color: #056186;
  display: inline-block;
  text-align: center; }
  /* line 286, ../sass/components/_content.scss */
  .l-main .l-region--blue-two .blue-two-inner {
    margin: 0;
    display: inline-block;
    text-align: left; }
/* line 294, ../sass/components/_content.scss */
.l-main .l-region--green {
  background-color: #82c459; }
/* line 298, ../sass/components/_content.scss */
.l-main .l-region--white {
  text-align: center; }
/* line 302, ../sass/components/_content.scss */
.l-main .l-region--grey {
  background-color: #6c696a;
  width: 100%;
  padding: 0 5%;
  display: inline-block; }
/* line 309, ../sass/components/_content.scss */
.l-main .l-region--dark-grey {
  background-color: #393536;
  width: 100%;
  display: inline-block; }

/* line 319, ../sass/components/_content.scss */
.l-region--footer-first .footer-sm h2, .l-region--footer-first .footer-sm .field--name-field-section-heading {
  display: inline-block;
  margin: 0; }
/* line 324, ../sass/components/_content.scss */
.l-region--footer-first .footer-sm .social-icons {
  display: inline-block;
  margin: 0;
  vertical-align: middle; }
  /* line 329, ../sass/components/_content.scss */
  .l-region--footer-first .footer-sm .social-icons ul {
    list-style-type: none; }
  /* line 333, ../sass/components/_content.scss */
  .l-region--footer-first .footer-sm .social-icons li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 0.3rem; }
  /* line 340, ../sass/components/_content.scss */
  .l-region--footer-first .footer-sm .social-icons a {
    color: transparent;
    line-height: 50px;
    padding: 16px 0;
    vertical-align: bottom; }
/* line 350, ../sass/components/_content.scss */
.l-region--footer-first .block--menu-block {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 5%; }

/* line 358, ../sass/components/_content.scss */
.l-region--slideshow {
  width: 100%;
  display: inline-block; }

/* line 363, ../sass/components/_content.scss */
.node--blog {
  padding-bottom: 2em;
  border-bottom: 1px solid #b7b8b9;
  margin-bottom: 2em; }

/* line 370, ../sass/components/_content.scss */
.links--inline li {
  border-right: 2px solid #6c696a;
  padding: 0 1em;
  line-height: 1;
  margin-right: 0; }
/* line 377, ../sass/components/_content.scss */
.links--inline li:last-child {
  border-right: 0; }

/* line 382, ../sass/components/_content.scss */
.more-info, .less-info {
  margin-top: 3%; }
  /* line 384, ../sass/components/_content.scss */
  .more-info a, .less-info a {
    padding: 1em;
    background-color: #393536;
    color: #fff; }

/* line 391, ../sass/components/_content.scss */
.more-info {
  margin-bottom: 5%; }

/* line 395, ../sass/components/_content.scss */
.less-info {
  padding: 1.5em;
  border-top: 1px solid #ccc; }

/* line 400, ../sass/components/_content.scss */
.view-service-providers {
  	/* .views-field-nothing {
  		text-align: center;
  		@include breakpoint($tablet) {
  			text-align: left;
  		}
  
  		.display-name {
  			max-width: 100%;
  		}
  
  		.name-logo {
  			max-width: 100%;
  			clear:both;
  			img {
  				max-width: 50%;
  			}
  		}
  
  	} */
  	/* .views-field-nothing-1 {
  		text-align: center;
  		@include breakpoint($tablet) {
  			text-align: left;
  		}
  		.display-name {
  			max-width: 100%;
  		}
  
  		.name-logo {
  			max-width: 100%;
  			clear:both;
  			img {
  				max-width: 50%;
  			}
  		}
  
  		.contact-div {
  			max-width: 100%;
  			clear: both;
  			margin-bottom: 5%;
  		}
  
  		.civi-image {
  			max-width: 100%;
  			clear: both;
  			margin-bottom: 5%;
  
  		}
  
  		.more-info {
  			max-width: 100%;
  			clear: both;
  			margin-bottom: 5%;
  		}
  	} */ }
  /* line 401, ../sass/components/_content.scss */
  .view-service-providers .views-row {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }

/* line 464, ../sass/components/_content.scss */
.view-rotating-partner-logos .views_slideshow_cycle_slide {
  width: 100% !important;
  padding: 0 2%; }

/* line 468, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-text {
  text-align: center;
  padding: 0 3%; }

/* line 472, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-text h5,
.view-rotating-partner-logos .partner-contact h5 {
  font-size: 1.29em;
  margin-top: 0;
  margin-bottom: 0.8%; }

/* line 478, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-contact {
  border-left: 1px solid #fff; }

/* line 482, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-img {
  text-align: center; }
  /* line 484, ../sass/components/_content.scss */
  .view-rotating-partner-logos .partner-img img {
    max-width: 180px; }

/* line 488, ../sass/components/_content.scss */
.view-rotating-partner-logos .pad {
  padding: 20px; }

/* line 491, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-pause {
  display: none; }

/* line 494, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-previous a,
.view-rotating-partner-logos .views-slideshow-controls-text-next a {
  position: absolute;
  top: 245px;
  width: 40px;
  height: 70px;
  display: block;
  text-indent: -8765px;
  line-height: 0;
  font-size: 0;
  z-index: 99999; }

/* line 506, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-previous a {
  background: url(images/arrow-prev-white.png) no-repeat 0 0;
  left: 0; }

/* line 510, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-next a {
  background: url(images/arrow-next-white.png) no-repeat 0 0;
  right: 0; }

/* line 515, ../sass/components/_content.scss */
.l-region--slideshow {
  	/* .hp-slide-img {
  		width: 100%;
  
  	}
  
  	.jcarousel-container {
  		height: 10%;
  		display: inline-block;
  	}
  
  
  	.jcarousel-skin-default .jcarousel-item {
  	 padding: 0;
  	 height: 10% !important;
  	 width: auto;
  	 overflow: hidden;
  	 border: 1px solid #CCC;
  	 list-style: none;
  	 background: #fff none;
  	 } */ }
  /* line 516, ../sass/components/_content.scss */
  .l-region--slideshow .flexslider {
    min-height: 40rem !important;
    margin: 0;
    border: none; }
    /* line 521, ../sass/components/_content.scss */
    .l-region--slideshow .flexslider .slides img {
      height: 40rem !important; }
    /* line 525, ../sass/components/_content.scss */
    .l-region--slideshow .flexslider .slides > li {
      min-height: 40rem;
      padding: 0% 15% 5%; }
    /* line 530, ../sass/components/_content.scss */
    .l-region--slideshow .flexslider .flex-control-paging {
      bottom: 8px;
      right: 5%;
      text-align: right;
      z-index: 999999; }
      /* line 536, ../sass/components/_content.scss */
      .l-region--slideshow .flexslider .flex-control-paging li > a {
        background-color: #393536;
        border-radius: 0;
        -webkit-border-radius: 0;
        height: 50px;
        width: 50px; }
      /* line 544, ../sass/components/_content.scss */
      .l-region--slideshow .flexslider .flex-control-paging li > a.flex-active {
        background-color: #00969b; }

/* line 3, ../sass/components/_footer.scss */
.l-footer .l-region--footer-first {
  background-color: #393536;
  padding: 1.5em; }
  /* line 8, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .footer-sm .block__title {
    float: left;
    margin-top: 0;
    margin-right: 2em; }
  /* line 15, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .footer-sm .content a {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-indent: -8765px;
    background: url(/sites/all/themes/civicrm_o4/images/civi-sprite.png) no-repeat -210px -2040px; }
  /* line 25, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .menu {
    padding-left: 0; }
    /* line 28, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .menu li {
      list-style: none;
      margin-right: 2em; }
    /* line 32, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .menu .expanded {
      float: left; }
      /* line 34, ../sass/components/_footer.scss */
      .l-footer .l-region--footer-first .menu .expanded ul {
        margin-top: 0; }
  /* line 13, ../../../../../../../../../.rvm/gems/ruby-2.2.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
  .l-footer .l-region--footer-first:after {
    content: "";
    display: table;
    clear: both; }
/* line 47, ../sass/components/_footer.scss */
.l-footer .l-region--footer-second {
  padding: 1.5em; }

/* line 1, ../sass/components/_header.scss */
.l-header {
  background-color: #393536;
  height: 6em;
  padding: 0.8em 1.5em; }
  /* line 6, ../sass/components/_header.scss */
  .l-header .l-header-inner {
    max-width: 90%; }
  /* line 10, ../sass/components/_header.scss */
  .l-header .l-branding {
    width: 50%;
    margin-top: 0.5em; }
  /* line 20, ../sass/components/_header.scss */
  .l-header .l-region--menu .menu-name-menu-secondary-menu, .l-header .l-region--menu .block--menu-menu-primary-menu {
    display: none; }
  /* line 42, ../sass/components/_header.scss */
  .l-header .menu {
    text-align: right;
    padding: 1% 0;
    margin: 0; }
    /* line 47, ../sass/components/_header.scss */
    .l-header .menu li {
      list-style: none outside none;
      display: inline-block;
      margin: 0 0.75em;
      padding: 0;
      vertical-align: top; }

/* line 58, ../sass/components/_header.scss */
.scroll-to-fixed-fixed {
  width: 100% !important; }

/* line 48, ../sass/sprites/_icons.scss */
.icons-sprite {
  background-image: url('../images/generated/icons-s9d4c8bdf7e.png');
  background-repeat: no-repeat; }

/*# sourceMappingURL=civicrm_theme_omsass.no-query.css.map */
