/*
* jcarousel mixin
* @author Lee Rowlands (rowlandsgroup.com)
* @param $selector carousel selector)
* @param $carousel_width 
* @param $carousel_height
* @param $carousel_padding 
* @param $item_width 
* @param $item_height 
* @param $item_margin 
* @param $button_width 
* @param $button_height 
* @param $button_image 
* @param $button_top
* @param $button_left 
* @param $button_right 
* @param $button_left_position (background position)
* @param $button_right_position 
* @param $button_left_position_hover 
* @param $button_right_position_hover 
* @param $button_left_position_disabled 
* @param $button_right_position_disabled
*/
/* No files to import found in abstractions/**\/* */
/* line 4, ../sass/base/_grids.scss */
#block-views-get-started-block, #block-views-get-started-block-1, #block-views-get-started-block-2 {
  display: inline-block; }
  @media (min-width: 980px) {
    /* line 10, ../sass/base/_grids.scss */
    #block-views-get-started-block .views-row-1, #block-views-get-started-block-1 .views-row-1, #block-views-get-started-block-2 .views-row-1 {
      width: 33.33333%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 14, ../sass/base/_grids.scss */
    #block-views-get-started-block .views-row-2, #block-views-get-started-block-1 .views-row-2, #block-views-get-started-block-2 .views-row-2 {
      width: 33.33333%;
      float: left;
      margin-right: -100%;
      margin-left: 33.33333%;
      clear: none; }
    /* line 18, ../sass/base/_grids.scss */
    #block-views-get-started-block .views-row-3, #block-views-get-started-block-1 .views-row-3, #block-views-get-started-block-2 .views-row-3 {
      width: 33.33333%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }

/* line 24, ../sass/base/_grids.scss */
#block-views-get-started-block-1 {
  display: inline-block; }
  @media (min-width: 980px) {
    /* line 30, ../sass/base/_grids.scss */
    #block-views-get-started-block-1 .views-row-1 {
      width: 33.33333%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 34, ../sass/base/_grids.scss */
    #block-views-get-started-block-1 .views-row-2 {
      width: 33.33333%;
      float: left;
      margin-right: -100%;
      margin-left: 33.33333%;
      clear: none; }
    /* line 38, ../sass/base/_grids.scss */
    #block-views-get-started-block-1 .views-row-3 {
      width: 33.33333%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }

/* line 44, ../sass/base/_grids.scss */
#block-views-get-started-block-2 {
  display: inline-block; }
  @media (min-width: 980px) {
    /* line 50, ../sass/base/_grids.scss */
    #block-views-get-started-block-2 .views-row-1 {
      width: 33.33333%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 54, ../sass/base/_grids.scss */
    #block-views-get-started-block-2 .views-row-2 {
      width: 33.33333%;
      float: left;
      margin-right: -100%;
      margin-left: 33.33333%;
      clear: none; }
    /* line 58, ../sass/base/_grids.scss */
    #block-views-get-started-block-2 .views-row-3 {
      width: 33.33333%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }

@media (min-width: 980px) {
  /* line 64, ../sass/base/_grids.scss */
  .left-two-thirds {
    width: 64.28571%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; } }

@media (min-width: 980px) {
  /* line 68, ../sass/base/_grids.scss */
  .left-third {
    width: 33.33333%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; } }

@media (min-width: 980px) {
  /* line 72, ../sass/base/_grids.scss */
  .right-third {
    width: 33.33333%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 980px) {
  /* line 76, ../sass/base/_grids.scss */
  .right-two-thirds {
    width: 66.66667%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/* line 81, ../sass/base/_grids.scss */
.front .hero {
  display: inline-block;
  clear: both; }
  /* line 86, ../sass/base/_grids.scss */
  .front .hero .l-region--hero-left {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  /* line 90, ../sass/base/_grids.scss */
  .front .hero .l-region--hero-right {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  @media (min-width: 980px) {
    /* line 95, ../sass/base/_grids.scss */
    .front .hero .l-region--hero-left {
      width: 66.66667%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 99, ../sass/base/_grids.scss */
    .front .hero .l-region--hero-right {
      width: 33.33333%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; } }

/* line 118, ../sass/base/_grids.scss */
.l-header .l-header-inner {
  max-width: 90%;
  margin: auto; }
/* line 123, ../sass/base/_grids.scss */
.l-header .l-branding {
  width: 16.32653%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }
@media (min-width: 740px) {
  /* line 127, ../sass/base/_grids.scss */
  .l-header .l-region--menu {
    width: 81.63265%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/* line 136, ../sass/base/_grids.scss */
.l-main {
  width: 100%; }

/* line 143, ../sass/base/_grids.scss */
.l-footer {
  clear: both; }

/* line 147, ../sass/base/_grids.scss */
.l-region--blue {
  width: 100%; }

/* line 153, ../sass/base/_grids.scss */
.l-region--blue-two {
  width: 100%;
  @add-grid (3);
  @add-gutter (.25); }

@media (min-width: 800px) {
  /* line 161, ../sass/base/_grids.scss */
  .l-region--footer-first .footer-sm {
    width: 83.05085%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: right; } }
/* line 169, ../sass/base/_grids.scss */
.l-region--footer-first .block--search-form {
  width: 15.25424%;
  float: left;
  margin-right: -100%;
  margin-left: 67.79661%;
  clear: none; }
/* line 173, ../sass/base/_grids.scss */
.l-region--footer-first .block--menu-block {
  clear: both; }
  /* line 178, ../sass/base/_grids.scss */
  .l-region--footer-first .block--menu-block .menu-level-1 > .menu > li:nth-child(n) {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0;
    clear: none; }
  /* line 182, ../sass/base/_grids.scss */
  .l-region--footer-first .block--menu-block .menu-level-1 > .menu > li:nth-child(1n+1) {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0; }
  @media (min-width: 800px) {
    /* line 190, ../sass/base/_grids.scss */
    .l-region--footer-first .block--menu-block .menu-level-1 > .menu > li:nth-child(n) {
      width: 18.91892%;
      clear: right;
      float: left;
      margin-left: 0;
      margin-right: 1.35135%;
      clear: none; }
    /* line 194, ../sass/base/_grids.scss */
    .l-region--footer-first .block--menu-block .menu-level-1 > .menu > li:nth-child(5n+5) {
      width: 18.91892%;
      clear: right;
      float: right;
      margin-right: 0; } }

/* line 213, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .display-name {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 217, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .p-logo {
  width: 40%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  width: 20%;
  clear: right; }
  /* line 222, ../sass/base/_grids.scss */
  .view-service-providers .views-field-nothing .p-logo .civi-image {
    margin-top: 100%; }
  @media (min-width: 740px) {
    /* line 217, ../sass/base/_grids.scss */
    .view-service-providers .views-field-nothing .p-logo {
      width: 40%; } }
  @media (min-width: 1220px) {
    /* line 217, ../sass/base/_grids.scss */
    .view-service-providers .views-field-nothing .p-logo {
      width: 20%; } }
/* line 235, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .p-data {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 80%;
  padding-left: 3%; }
  @media (min-width: 740px) {
    /* line 235, ../sass/base/_grids.scss */
    .view-service-providers .views-field-nothing .p-data {
      width: 60%; } }
  @media (min-width: 1220px) {
    /* line 235, ../sass/base/_grids.scss */
    .view-service-providers .views-field-nothing .p-data {
      width: 80%; } }
/* line 249, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing .less-info {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 257, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 display-name {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
/* line 261, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .name-logo {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  width: 20%;
  max-width: 150px; }
/* line 270, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .contact-div {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 37.5%;
  clear: none;
  width: 60%;
  margin-left: 20%; }
  /* line 275, ../sass/base/_grids.scss */
  .view-service-providers .views-field-nothing-1 .contact-div .contact-info {
    margin-top: 0 !important; }
  @media (min-width: 740px) {
    /* line 270, ../sass/base/_grids.scss */
    .view-service-providers .views-field-nothing-1 .contact-div {
      width: 40%;
      margin-left: 25%; } }
  @media (min-width: 980px) {
    /* line 270, ../sass/base/_grids.scss */
    .view-service-providers .views-field-nothing-1 .contact-div {
      width: 50%; } }
  @media (min-width: 1220px) {
    /* line 270, ../sass/base/_grids.scss */
    .view-service-providers .views-field-nothing-1 .contact-div {
      width: 60%; } }
/* line 293, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .civi-image {
  width: 25%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  width: 20%; }
  @media (min-width: 740px) {
    /* line 293, ../sass/base/_grids.scss */
    .view-service-providers .views-field-nothing-1 .civi-image {
      width: 32%; } }
  @media (min-width: 980px) {
    /* line 293, ../sass/base/_grids.scss */
    .view-service-providers .views-field-nothing-1 .civi-image {
      width: 30%; } }
  @media (min-width: 1220px) {
    /* line 293, ../sass/base/_grids.scss */
    .view-service-providers .views-field-nothing-1 .civi-image {
      width: 20%; } }
/* line 310, ../sass/base/_grids.scss */
.view-service-providers .views-field-nothing-1 .more-info {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media (min-width: 800px) {
  /* line 321, ../sass/base/_grids.scss */
  .view-rotating-partner-logos .views-row .partner-left {
    width: 65.71429%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
    /* line 326, ../sass/base/_grids.scss */
    .view-rotating-partner-logos .views-row .partner-left .partner-img {
      width: 50%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      max-width: 50%; }
    /* line 331, ../sass/base/_grids.scss */
    .view-rotating-partner-logos .views-row .partner-left .partner-text {
      width: 50%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      max-width: 50%; }
  /* line 337, ../sass/base/_grids.scss */
  .view-rotating-partner-logos .views-row .partner-contact {
    width: 33.33333%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/* line 351, ../sass/base/_grids.scss */
.icongrid .view-content .views-row:nth-child(n) {
  width: 48.93617%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 2.12766%; }
/* line 354, ../sass/base/_grids.scss */
.icongrid .view-content .views-row:nth-child(2n+2) {
  width: 48.93617%;
  clear: right;
  float: right;
  margin-right: 0; }
@media (min-width: 740px) {
  /* line 361, ../sass/base/_grids.scss */
  .icongrid .view-content .views-row:nth-child(n) {
    width: 31.91489%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.12766%; }
  /* line 364, ../sass/base/_grids.scss */
  .icongrid .view-content .views-row:nth-child(3n+3) {
    width: 31.91489%;
    clear: right;
    float: right;
    margin-right: 0; } }

/* line 380, ../sass/base/_grids.scss */
.node-type-feature .field--name-field-top-three-features > .field__items > .field__item:nth-child(n) {
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0; }
/* line 383, ../sass/base/_grids.scss */
.node-type-feature .field--name-field-top-three-features > .field__items > .field__item:nth-child(1n+1) {
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0; }
@media (min-width: 740px) {
  /* line 388, ../sass/base/_grids.scss */
  .node-type-feature .field--name-field-top-three-features > .field__items > .field__item:nth-child(n) {
    width: 31.91489%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.12766%; }
  /* line 391, ../sass/base/_grids.scss */
  .node-type-feature .field--name-field-top-three-features > .field__items > .field__item:nth-child(3n+3) {
    width: 31.91489%;
    clear: right;
    float: right;
    margin-right: 0; } }

/* line 1, ../sass/base/_lists.scss */
ul, ol {
  margin: 1.8em 0;
  padding: 0 0 0 2.4em; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/base/_typography.scss */
body {
  font-family: "Source Sans Pro";
  line-height: 1.4 !important;
  color: #6c696a;
  font-size: 16px !important; }

/* line 9, ../sass/base/_typography.scss */
a {
  text-decoration: none;
  color: #5c96ad; }

/* line 14, ../sass/base/_typography.scss */
h1, h2, .field--name-field-section-heading, .node-type-feature .l-content .field--name-field-top-feature-heading, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: 700; }

/* line 19, ../sass/base/_typography.scss */
h3 {
  font-size: 1.57em;
  /* 22px @ 14px */ }

/* line 22, ../sass/base/_typography.scss */
h4 {
  font-size: 1.29em;
  /* 18px @ 14px */ }

/* line 26, ../sass/base/_typography.scss */
h5 {
  font-size: 1.29em; }

/* line 30, ../sass/base/_typography.scss */
p {
  line-height: 1.4 !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important; }

/* line 36, ../sass/base/_typography.scss */
input.form-submit {
  border: 0 none;
  cursor: pointer; }

/* line 41, ../sass/base/_typography.scss */
td, th {
  font-weight: normal;
  text-align: left; }

/* line 46, ../sass/base/_typography.scss */
blockquote, .node-type-feature .l-content .field--name-body, .node-type-feature .l-content .field--name-field-additional-resources {
  font-size: 1.5rem;
  font-style: italic; }

/* line 51, ../sass/base/_typography.scss */
.btn-grey, .button-primary {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  /* line 56, ../sass/base/_typography.scss */
  .btn-grey a, .button-primary a {
    color: #fff; }

/* line 63, ../sass/base/_typography.scss */
#block-delta-blocks-breadcrumb li a {
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  /* 18px @ 24px */ }
  /* line 69, ../sass/base/_typography.scss */
  #block-delta-blocks-breadcrumb li a a.active {
    color: #393536; }

/* line 78, ../sass/base/_typography.scss */
#block-views-features-block {
  text-align: center; }
  /* line 80, ../sass/base/_typography.scss */
  #block-views-features-block .block__title {
    text-align: center; }
  /* line 84, ../sass/base/_typography.scss */
  #block-views-features-block .views-field-title {
    text-decoration: uppercase; }
  /* line 88, ../sass/base/_typography.scss */
  #block-views-features-block a {
    color: #fff; }

/* line 93, ../sass/base/_typography.scss */
#block-views-homepage-stats-block {
  text-align: center; }
  /* line 95, ../sass/base/_typography.scss */
  #block-views-homepage-stats-block a {
    text-indent: -8765px; }
  /* line 99, ../sass/base/_typography.scss */
  #block-views-homepage-stats-block h5 {
    color: #056186;
    text-align: center; }

/* line 105, ../sass/base/_typography.scss */
#page-title, .block-title, .block__title {
  font-size: 2.5em;
  line-height: 1;
  text-align: left; }
  @media (min-width: 740px) {
    /* line 105, ../sass/base/_typography.scss */
    #page-title, .block-title, .block__title {
      font-size: 3.5em;
      /* 50px @ 24px */ } }

/* line 118, ../sass/base/_typography.scss */
#zone-blue a {
  color: #fff; }

/* line 128, ../sass/base/_typography.scss */
#zone-white a {
  color: #fff; }

/* line 134, ../sass/base/_typography.scss */
#zone-dark-grey .block-title {
  font-size: 1em;
  /* 24px @ 24px */
  text-transform: none; }
/* line 140, ../sass/base/_typography.scss */
#zone-dark-grey a {
  color: #fff; }

/* line 146, ../sass/base/_typography.scss */
.align-left {
  text-align: left; }

/* line 149, ../sass/base/_typography.scss */
.align-right {
  text-align: right; }

/* line 152, ../sass/base/_typography.scss */
.align-center, #zone-blue .block-title, #zone-white .block-title, #zone-dark-grey .block-title {
  text-align: center; }

@media (min-width: 740px) {
  /* line 156, ../sass/base/_typography.scss */
  .block--block-38 {
    display: none; } }

/* line 166, ../sass/base/_typography.scss */
.breadcrumb {
  font-size: 0.75em;
  text-transform: uppercase; }
  /* line 170, ../sass/base/_typography.scss */
  .breadcrumb a {
    line-height: 1;
    margin-right: 20px;
    padding-right: 30px;
    background: url(images/breadcrumb-arrrow.png) no-repeat right center;
    color: #fff; }
  /* line 178, ../sass/base/_typography.scss */
  .breadcrumb li:last-child {
    color: #82c459;
    text-transform: uppercase; }

/* line 184, ../sass/base/_typography.scss */
.btn-grey, .button-primary {
  color: #fff; }

/* line 189, ../sass/base/_typography.scss */
.btn-white a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
  text-shadow: none; }
  @media (min-width: 740px) {
    /* line 189, ../sass/base/_typography.scss */
    .btn-white a {
      font-size: 1.57rem;
      /* 22px @ 14px */ } }

/* line 199, ../sass/base/_typography.scss */
.field--name-field-section-heading {
  font-size: 1.5em; }

/* line 205, ../sass/base/_typography.scss */
.field--name-field-section-list-description p {
  margin: 0 !important; }

/* line 211, ../sass/base/_typography.scss */
.has-banner h1 {
  color: #fff; }

/* line 217, ../sass/base/_typography.scss */
.hp-events a {
  color: #fff; }
/* line 221, ../sass/base/_typography.scss */
.hp-events .pager {
  margin: 0;
  text-align: center;
  display: block;
  list-style-type: none; }
/* line 228, ../sass/base/_typography.scss */
.hp-events .pager-next, .hp-events .pager-previous {
  font-size: 3em;
  display: inline; }

/* line 235, ../sass/base/_typography.scss */
.hp-events-date {
  text-align: center;
  text-transform: uppercase;
  line-height: 1; }

/* line 243, ../sass/base/_typography.scss */
.l-header {
  color: #fff; }
  /* line 246, ../sass/base/_typography.scss */
  .l-header .block__title {
    display: none; }
  /* line 250, ../sass/base/_typography.scss */
  .l-header .menu {
    text-align: right;
    line-height: 0; }
    /* line 254, ../sass/base/_typography.scss */
    .l-header .menu a {
      color: #fff;
      text-transform: uppercase;
      line-height: 1; }
  /* line 262, ../sass/base/_typography.scss */
  .l-header .block--menu-menu-primary-menu a, .l-header .block--menu-menu-home-page-menu a, .l-header .block--menu-menu-primary-menu-home-page a {
    font-size: 1.15rem;
    font-weight: bold; }
    @media (min-width: 1024px) {
      /* line 262, ../sass/base/_typography.scss */
      .l-header .block--menu-menu-primary-menu a, .l-header .block--menu-menu-home-page-menu a, .l-header .block--menu-menu-primary-menu-home-page a {
        font-size: 1.3rem;
        /* 20px @ 24px */ } }
  /* line 270, ../sass/base/_typography.scss */
  .l-header .menu-name-menu-secondary-menu a {
    font-weight: normal; }

/* line 279, ../sass/base/_typography.scss */
.l-header.before .block--menu-menu-primary-menu a {
  font-size: 1.1rem; }
/* line 285, ../sass/base/_typography.scss */
.l-header.before .menu-name-menu-secondary-menu a {
  font-size: 0.8rem; }

/* line 291, ../sass/base/_typography.scss */
.l-region--blue, .l-region--blue-two, .l-region--darkgrey, .l-region--grey {
  color: #fff; }

/* line 295, ../sass/base/_typography.scss */
.l-region--grey {
  text-align: center; }
  /* line 297, ../sass/base/_typography.scss */
  .l-region--grey .block__title {
    text-align: center; }

/* line 305, ../sass/base/_typography.scss */
.l-region--slideshow .flexslider li {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #000; }
/* line 311, ../sass/base/_typography.scss */
.l-region--slideshow .flexslider h1 {
  font-size: 1.8rem; }
  @media (min-width: 740px) {
    /* line 311, ../sass/base/_typography.scss */
    .l-region--slideshow .flexslider h1 {
      font-size: 2.5rem; } }
  @media (min-width: 980px) {
    /* line 311, ../sass/base/_typography.scss */
    .l-region--slideshow .flexslider h1 {
      font-size: 3rem; } }
  @media (min-width: 1220px) {
    /* line 311, ../sass/base/_typography.scss */
    .l-region--slideshow .flexslider h1 {
      font-size: 4rem; } }
/* line 318, ../sass/base/_typography.scss */
.l-region--slideshow .flexslider .teaser {
  font-size: 1rem;
  text-transform: none; }
  @media (min-width: 740px) {
    /* line 318, ../sass/base/_typography.scss */
    .l-region--slideshow .flexslider .teaser {
      font-size: 1.5rem; } }
  @media (min-width: 1220px) {
    /* line 318, ../sass/base/_typography.scss */
    .l-region--slideshow .flexslider .teaser {
      font-size: 2rem; } }

@media (min-width: 980px) {
  /* line 328, ../sass/base/_typography.scss */
  .l-main {
    font-size: 20px !important; } }

/* line 334, ../sass/base/_typography.scss */
.l-region--footer-first {
  text-align: center; }
  @media (min-width: 980px) {
    /* line 334, ../sass/base/_typography.scss */
    .l-region--footer-first {
      text-align: left; } }
  /* line 340, ../sass/base/_typography.scss */
  .l-region--footer-first a {
    color: #6c696a; }
  /* line 344, ../sass/base/_typography.scss */
  .l-region--footer-first .menu {
    text-align: center; }
    @media (min-width: 980px) {
      /* line 344, ../sass/base/_typography.scss */
      .l-region--footer-first .menu {
        text-align: left; } }
    /* line 349, ../sass/base/_typography.scss */
    .l-region--footer-first .menu li {
      font-size: 1.2rem; }
  /* line 353, ../sass/base/_typography.scss */
  .l-region--footer-first .expanded, .l-region--footer-first .parent-mlid-0 > .menu > li {
    text-transform: uppercase;
    font-weight: bold; }
  /* line 358, ../sass/base/_typography.scss */
  .l-region--footer-first .expanded > .menu > .leaf {
    text-transform: none;
    font-weight: normal;
    line-height: 2em; }

/* line 367, ../sass/base/_typography.scss */
.l-region--footer-first .footer-sm .block__title {
  font-size: 2em; }

/* line 374, ../sass/base/_typography.scss */
.node__title a {
  color: #6c696a; }

/* line 385, ../sass/base/_typography.scss */
.node-type-feature .l-content .field--name-body, .node-type-feature .l-content .field--name-field-additional-resources {
  color: #fff; }
/* line 390, ../sass/base/_typography.scss */
.node-type-feature .l-content .field__label {
  font-size: 2rem; }

/* line 397, ../sass/base/_typography.scss */
.view-homepage-news a {
  color: #fff; }
/* line 401, ../sass/base/_typography.scss */
.view-homepage-news .views-field-view-node {
  font-weight: bold; }

/* line 407, ../sass/base/_typography.scss */
.view-rotating-partner-logos .partner-text {
  text-align: center; }
/* line 411, ../sass/base/_typography.scss */
.view-rotating-partner-logos a {
  text-indent: -8765px;
  line-height: 0;
  font-size: 0; }

/* line 419, ../sass/base/_typography.scss */
.view-service-providers a {
  font-weight: bold;
  text-transform: uppercase; }
/* line 424, ../sass/base/_typography.scss */
.view-service-providers .views-label {
  font-weight: bold; }
/* line 428, ../sass/base/_typography.scss */
.view-service-providers .contact-info {
  font-weight: bold; }

/* line 1, ../sass/components/_content.scss */
table td, table th {
  padding: 8px 16px;
  font-size: 90%; }

/* line 6, ../sass/components/_content.scss */
table th {
  font-weight: bold;
  border-bottom: 1px solid; }

/* line 11, ../sass/components/_content.scss */
table tr.odd, table tr.even {
  background-color: white; }

/* line 15, ../sass/components/_content.scss */
tbody tr:hover {
  background-color: #eee; }

/* line 20, ../sass/components/_content.scss */
#block-search-form {
  display: none; }
  @media (min-width: 800px) {
    /* line 20, ../sass/components/_content.scss */
    #block-search-form {
      display: block; } }

/* line 24, ../sass/components/_content.scss */
#block-views-features-block {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 2%; }
  @media (min-width: 800px) {
    /* line 24, ../sass/components/_content.scss */
    #block-views-features-block {
      width: 80%; } }
  /* line 30, ../sass/components/_content.scss */
  #block-views-features-block .block__title {
    padding: 1%;
    margin: 1% 0; }
  /* line 35, ../sass/components/_content.scss */
  #block-views-features-block .icongrid .views-row {
    padding: 2%; }
  /* line 38, ../sass/components/_content.scss */
  #block-views-features-block .icongrid .views-field-field-one-sentence-summary {
    display: none;
    clear: both; }

/* line 45, ../sass/components/_content.scss */
#block-views-homepage-stats-block {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0 none; }
  /* line 50, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .view-content {
    padding-top: 60px; }
  /* line 54, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields {
    display: none; }
    @media (min-width: 980px) {
      /* line 54, ../sass/components/_content.scss */
      #block-views-homepage-stats-block .views-slideshow-pager-fields {
        display: block;
        bottom: 30px;
        width: 100%; } }
  /* line 66, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-controls-text {
    display: none; }
  /* line 71, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields .views-slideshow-pager-field-item {
    display: inline-block;
    margin-right: 20px; }
  /* line 76, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields .views-slideshow-pager-field-item.views-row-last {
    margin-right: 0; }
  /* line 80, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-pager-fields .views-content-counter {
    text-indent: -8765px;
    width: 20px;
    height: 20px;
    background-color: #6c696a;
    cursor: pointer; }
  /* line 90, ../sass/components/_content.scss */
  #block-views-homepage-stats-block .views-slideshow-controls-bottom .views-slideshow-pager-field-item.active .views-content-counter {
    background-color: #929294; }

/* line 96, ../sass/components/_content.scss */
#block-views-get-started-block, #block-views-get-started-block-1, #block-views-get-started-block-2 {
  max-width: 95%;
  margin: 0 0 2% 0; }
  /* line 101, ../sass/components/_content.scss */
  #block-views-get-started-block .block__title, #block-views-get-started-block-1 .block__title, #block-views-get-started-block-2 .block__title {
    text-align: center; }
  /* line 105, ../sass/components/_content.scss */
  #block-views-get-started-block .views-row, #block-views-get-started-block-1 .views-row, #block-views-get-started-block-2 .views-row {
    text-align: center;
    padding: 5% 5% 0;
    border-top: 1px solid #6c696a; }
    @media (min-width: 980px) {
      /* line 105, ../sass/components/_content.scss */
      #block-views-get-started-block .views-row, #block-views-get-started-block-1 .views-row, #block-views-get-started-block-2 .views-row {
        border-top: none;
        border-right: 1px solid #6c696a; } }
  /* line 117, ../sass/components/_content.scss */
  #block-views-get-started-block .views-row-first, #block-views-get-started-block-1 .views-row-first, #block-views-get-started-block-2 .views-row-first {
    border-top: none; }
  /* line 121, ../sass/components/_content.scss */
  #block-views-get-started-block .views-row-last, #block-views-get-started-block-1 .views-row-last, #block-views-get-started-block-2 .views-row-last {
    border-right: none; }
  @media (min-width: 980px) {
    /* line 125, ../sass/components/_content.scss */
    #block-views-get-started-block .views-field-body, #block-views-get-started-block-1 .views-field-body, #block-views-get-started-block-2 .views-field-body {
      min-height: 8.5em; } }
  /* line 131, ../sass/components/_content.scss */
  #block-views-get-started-block .views-field-field-option-number, #block-views-get-started-block-1 .views-field-field-option-number, #block-views-get-started-block-2 .views-field-field-option-number {
    display: inline-block; }
    /* line 133, ../sass/components/_content.scss */
    #block-views-get-started-block .views-field-field-option-number .field-content, #block-views-get-started-block-1 .views-field-field-option-number .field-content, #block-views-get-started-block-2 .views-field-field-option-number .field-content {
      width: 1.5em;
      height: 1.5em;
      border-radius: 2em;
      font-size: 3.5em;
      color: #fff;
      font-weight: 700; }
  @media (min-width: 980px) {
    /* line 144, ../sass/components/_content.scss */
    #block-views-get-started-block .views-field-field-subtitle, #block-views-get-started-block-1 .views-field-field-subtitle, #block-views-get-started-block-2 .views-field-field-subtitle {
      min-height: 11.5em; } }
  @media (min-width: 1220px) {
    /* line 144, ../sass/components/_content.scss */
    #block-views-get-started-block .views-field-field-subtitle, #block-views-get-started-block-1 .views-field-field-subtitle, #block-views-get-started-block-2 .views-field-field-subtitle {
      min-height: 8em; } }
  /* line 154, ../sass/components/_content.scss */
  #block-views-get-started-block .views-field-field-button-link ul, #block-views-get-started-block-1 .views-field-field-button-link ul, #block-views-get-started-block-2 .views-field-field-button-link ul {
    list-style-type: none;
    -webkit-padding-start: 0; }
  /* line 159, ../sass/components/_content.scss */
  #block-views-get-started-block .views-field-field-button-link li, #block-views-get-started-block-1 .views-field-field-button-link li, #block-views-get-started-block-2 .views-field-field-button-link li {
    margin-bottom: 3%;
    padding: 0.5em 0;
    text-align: center; }
    /* line 164, ../sass/components/_content.scss */
    #block-views-get-started-block .views-field-field-button-link li a, #block-views-get-started-block-1 .views-field-field-button-link li a, #block-views-get-started-block-2 .views-field-field-button-link li a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700; }

/* line 177, ../sass/components/_content.scss */
#block-views-get-started-block-1 .views-row {
  border-top: none;
  padding-top: 0; }
  @media (min-width: 980px) {
    /* line 177, ../sass/components/_content.scss */
    #block-views-get-started-block-1 .views-row {
      border-right: none; } }
  /* line 185, ../sass/components/_content.scss */
  #block-views-get-started-block-1 .views-row .views-field-title {
    min-height: 5rem; }
  @media (min-width: 1024px) {
    /* line 189, ../sass/components/_content.scss */
    #block-views-get-started-block-1 .views-row .views-field-body {
      min-height: 20rem; } }
  @media (min-width: 1220px) {
    /* line 189, ../sass/components/_content.scss */
    #block-views-get-started-block-1 .views-row .views-field-body {
      min-height: 13rem; } }
/* line 196, ../sass/components/_content.scss */
#block-views-get-started-block-1 h3 {
  margin-bottom: 0; }

/* line 201, ../sass/components/_content.scss */
#block-views-get-started-block-2 {
  clear: both; }
  /* line 205, ../sass/components/_content.scss */
  #block-views-get-started-block-2 .views-row {
    border-top: none;
    padding-top: 0; }
    @media (min-width: 980px) {
      /* line 205, ../sass/components/_content.scss */
      #block-views-get-started-block-2 .views-row {
        border-right: none; } }
    /* line 213, ../sass/components/_content.scss */
    #block-views-get-started-block-2 .views-row .views-field-title {
      min-height: 5rem; }
    @media (min-width: 1024px) {
      /* line 217, ../sass/components/_content.scss */
      #block-views-get-started-block-2 .views-row .views-field-body {
        min-height: 20rem; } }
    @media (min-width: 1220px) {
      /* line 217, ../sass/components/_content.scss */
      #block-views-get-started-block-2 .views-row .views-field-body {
        min-height: 13rem; } }
  /* line 224, ../sass/components/_content.scss */
  #block-views-get-started-block-2 h3 {
    margin-bottom: 0; }

/* line 229, ../sass/components/_content.scss */
#block-views-homepage-news-block {
  padding: 0 10% 5% 5%; }
  @media (min-width: 740px) {
    /* line 229, ../sass/components/_content.scss */
    #block-views-homepage-news-block {
      padding: 0 10% 0 2%; } }
  @media (min-width: 800px) {
    /* line 229, ../sass/components/_content.scss */
    #block-views-homepage-news-block {
      min-height: 33em; } }
  /* line 234, ../sass/components/_content.scss */
  #block-views-homepage-news-block h1 {
    font-size: 4.5rem; }

/* line 239, ../sass/components/_content.scss */
#block-views-homepage-news-block.left-two-thirds {
  display: inline-block;
  float: none; }

/* line 244, ../sass/components/_content.scss */
#views_slideshow_cycle_main_homepage_stats-block {
  display: inline-block; }
  /* line 247, ../sass/components/_content.scss */
  #views_slideshow_cycle_main_homepage_stats-block img {
    min-width: 300px; }

/* line 252, ../sass/components/_content.scss */
#views_slideshow_cycle_teaser_section_homepage_our_partners-block {
  width: 100% !important; }

/* line 256, ../sass/components/_content.scss */
.breadcrumb {
  background-color: #231f20;
  margin: 0;
  padding: 1% 8%;
  list-style-type: none; }
  /* line 262, ../sass/components/_content.scss */
  .breadcrumb li {
    display: inline-block; }

/* line 267, ../sass/components/_content.scss */
.btn-grey, .button-primary {
  display: inline-block;
  padding: 1em;
  background-color: #6c696a; }

/* line 273, ../sass/components/_content.scss */
.btn-white {
  display: inline-block;
  padding: 1em;
  background-color: #fff;
  box-shadow: 2px 2px 2px #000;
  margin-top: 4%; }

/* line 281, ../sass/components/_content.scss */
.button-primary {
  background-color: #00969b;
  padding: 0.5rem 1rem; }

/* line 288, ../sass/components/_content.scss */
.bluegreen {
  background-color: #00969b; }

/* line 292, ../sass/components/_content.scss */
.pink {
  background-color: #de447a; }

/* line 296, ../sass/components/_content.scss */
.green {
  background-color: #82c459; }

/* line 300, ../sass/components/_content.scss */
.hero {
  display: inherit;
  padding: 2% 4% 2% 7%; }
  /* line 304, ../sass/components/_content.scss */
  .hero .l-region--hero-right {
    border-bottom: 1px solid #393536; }
    @media (min-width: 980px) {
      /* line 304, ../sass/components/_content.scss */
      .hero .l-region--hero-right {
        border-bottom: 0;
        border-left: 1px solid #393536;
        text-align: center; } }
  /* line 314, ../sass/components/_content.scss */
  .hero .l-region--hero-left {
    padding-right: 2%; }

/* line 320, ../sass/components/_content.scss */
.hp-events .views-row {
  margin-bottom: 4%; }
/* line 324, ../sass/components/_content.scss */
.hp-events .pager-current {
  display: none; }

/* line 329, ../sass/components/_content.scss */
.hp-events-date {
  border: 1px solid #fff;
  /* width: 12%; */
  padding: 2%;
  display: inline-block;
  /* float: left; */
  margin-right: 4%;
  vertical-align: top; }

/* line 340, ../sass/components/_content.scss */
.hp-events-title {
  display: inline-block;
  width: 75%; }

/* line 345, ../sass/components/_content.scss */
.i-facebook {
  background: url(images/icons/civi-sprite.png) no-repeat -210px -1875px; }

/* line 349, ../sass/components/_content.scss */
.i-linkedin {
  background: url(images/icons/civi-sprite.png) no-repeat -210px -1930px; }

/* line 353, ../sass/components/_content.scss */
.i-twitter {
  background: url(images/icons/civi-sprite.png) no-repeat -210px -2040px; }

/* line 357, ../sass/components/_content.scss */
.l-content {
  max-width: 95%;
  margin: auto; }

/* line 363, ../sass/components/_content.scss */
.front .l-content {
  max-width: 100%; }

/* line 369, ../sass/components/_content.scss */
.not-front .icongrid {
  text-align: center; }
  /* line 371, ../sass/components/_content.scss */
  .not-front .icongrid .views-field-field-icon {
    margin-top: 5%; }

/* line 378, ../sass/components/_content.scss */
.node-type-feature .l-content {
  max-width: 100%; }
  /* line 382, ../sass/components/_content.scss */
  .node-type-feature .l-content #page-title, .node-type-feature .l-content .block-title, .node-type-feature .l-content .block__title {
    padding: 0 2.5%; }
  /* line 386, ../sass/components/_content.scss */
  .node-type-feature .l-content .field {
    padding: 0 2.5%; }
  /* line 394, ../sass/components/_content.scss */
  .node-type-feature .l-content .field--name-body, .node-type-feature .l-content .field--name-field-additional-resources {
    background-color: #056186;
    padding: 1% 2%;
    margin-top: 2%;
    margin-bottom: 2%; }
  /* line 401, ../sass/components/_content.scss */
  .node-type-feature .l-content .field--name-field-additional-resources {
    margin-bottom: 0;
    background-color: #82c459;
    color: #fff; }

/* line 413, ../sass/components/_content.scss */
.l-main .l-region--blue {
  background-color: #056186;
  display: inline-block; }
/* line 418, ../sass/components/_content.scss */
.l-main .l-region--black {
  background-color: #000;
  min-height: 20rem; }
/* line 424, ../sass/components/_content.scss */
.l-main .l-region--blue-two {
  background-color: #056186;
  display: inline-block;
  text-align: center; }
  /* line 429, ../sass/components/_content.scss */
  .l-main .l-region--blue-two .blue-two-inner {
    margin: 0;
    display: inline-block;
    text-align: left; }
  /* line 436, ../sass/components/_content.scss */
  .l-main .l-region--blue-two .block {
    padding: 0 5%; }
    @media (min-width: 740px) {
      /* line 436, ../sass/components/_content.scss */
      .l-main .l-region--blue-two .block {
        padding: 0; } }
/* line 444, ../sass/components/_content.scss */
.l-main .l-region--green {
  background-color: #82c459; }
/* line 448, ../sass/components/_content.scss */
.l-main .l-region--white {
  text-align: center; }
/* line 452, ../sass/components/_content.scss */
.l-main .l-region--white-two {
  text-align: center;
  display: inline-block; }
/* line 457, ../sass/components/_content.scss */
.l-main .l-region--grey {
  background-color: #6c696a;
  width: 100%;
  padding: 0 5%;
  display: inline-block;
  min-height: 50em; }
  @media (min-width: 740px) {
    /* line 457, ../sass/components/_content.scss */
    .l-main .l-region--grey {
      min-height: 45em; } }
  @media (min-width: 800px) {
    /* line 457, ../sass/components/_content.scss */
    .l-main .l-region--grey {
      min-height: auto; } }
/* line 469, ../sass/components/_content.scss */
.l-main .l-region--dark-grey {
  background-color: #393536;
  width: 100%;
  display: inline-block; }

/* line 477, ../sass/components/_content.scss */
.l-region--slideshow {
  width: 100%;
  display: inline-block; }
  /* line 481, ../sass/components/_content.scss */
  .l-region--slideshow .flexslider {
    margin: 0;
    border: none; }
    /* line 489, ../sass/components/_content.scss */
    .l-region--slideshow .flexslider .slides > li {
      padding: 0% 5% 5%;
      max-height: 30rem;
      min-height: 29rem; }
      @media (min-width: 800px) {
        /* line 489, ../sass/components/_content.scss */
        .l-region--slideshow .flexslider .slides > li {
          padding: 0% 15% 5%;
          min-height: 43rem; } }
    /* line 501, ../sass/components/_content.scss */
    .l-region--slideshow .flexslider .flex-control-paging {
      bottom: 8px;
      right: 5%;
      text-align: right;
      z-index: 9999;
      position: relative;
      margin-top: -2em; }
      @media (min-width: 740px) {
        /* line 501, ../sass/components/_content.scss */
        .l-region--slideshow .flexslider .flex-control-paging {
          margin-top: -4em; } }
      @media (min-width: 800px) {
        /* line 501, ../sass/components/_content.scss */
        .l-region--slideshow .flexslider .flex-control-paging {
          margin-top: -3.2em; } }
      /* line 512, ../sass/components/_content.scss */
      .l-region--slideshow .flexslider .flex-control-paging li > a {
        background-color: #393536;
        border-radius: 0;
        -webkit-border-radius: 0;
        height: 25px;
        width: 25px; }
        @media (min-width: 800px) {
          /* line 512, ../sass/components/_content.scss */
          .l-region--slideshow .flexslider .flex-control-paging li > a {
            height: 50px;
            width: 50px; } }
      /* line 526, ../sass/components/_content.scss */
      .l-region--slideshow .flexslider .flex-control-paging li > a.flex-active {
        background-color: #00969b; }
    /* line 531, ../sass/components/_content.scss */
    .l-region--slideshow .flexslider .flex-direction-nav {
      display: none; }

/* line 538, ../sass/components/_content.scss */
.node--blog {
  padding-bottom: 2em;
  border-bottom: 1px solid #b7b8b9;
  margin-bottom: 2em; }

/* line 545, ../sass/components/_content.scss */
.links--inline li {
  border-right: 2px solid #6c696a;
  padding: 0 1em;
  line-height: 1;
  margin-right: 0; }
/* line 552, ../sass/components/_content.scss */
.links--inline li:last-child {
  border-right: 0; }

/* line 559, ../sass/components/_content.scss */
.more-info, .less-info {
  margin-top: 3%; }
  /* line 561, ../sass/components/_content.scss */
  .more-info a, .less-info a {
    padding: 1em;
    background-color: #393536;
    color: #fff; }

/* line 568, ../sass/components/_content.scss */
.more-info {
  margin-bottom: 5%; }

/* line 572, ../sass/components/_content.scss */
.less-info {
  padding: 1.5em;
  border-top: 1px solid #ccc; }

/* line 577, ../sass/components/_content.scss */
.view-service-providers {
  	/* .views-field-nothing {
  		text-align: center;
  		@include breakpoint($tablet) {
  			text-align: left;
  		}
  
  		.display-name {
  			max-width: 100%;
  		}
  
  		.name-logo {
  			max-width: 100%;
  			clear:both;
  			img {
  				max-width: 50%;
  			}
  		}
  
  	} */
  	/* .views-field-nothing-1 {
  		text-align: center;
  		@include breakpoint($tablet) {
  			text-align: left;
  		}
  		.display-name {
  			max-width: 100%;
  		}
  
  		.name-logo {
  			max-width: 100%;
  			clear:both;
  			img {
  				max-width: 50%;
  			}
  		}
  
  		.contact-div {
  			max-width: 100%;
  			clear: both;
  			margin-bottom: 5%;
  		}
  
  		.civi-image {
  			max-width: 100%;
  			clear: both;
  			margin-bottom: 5%;
  
  		}
  
  		.more-info {
  			max-width: 100%;
  			clear: both;
  			margin-bottom: 5%;
  		}
  	} */ }
  /* line 578, ../sass/components/_content.scss */
  .view-service-providers .views-row {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }

/* line 641, ../sass/components/_content.scss */
.view-rotating-partner-logos .views_slideshow_cycle_slide {
  width: 100% !important;
  padding: 0 2%; }

/* line 645, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-text {
  text-align: center;
  padding: 0 3%; }
  @media (min-width: 800px) {
    /* line 645, ../sass/components/_content.scss */
    .view-rotating-partner-logos .partner-text {
      min-height: 10em; } }

/* line 652, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-text h5,
.view-rotating-partner-logos .partner-contact h5 {
  font-size: 1.29em;
  margin-top: 0;
  margin-bottom: 0.8%; }

/* line 658, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-contact {
  border-top: 1px solid #fff;
  padding-top: 5%; }
  @media (min-width: 800px) {
    /* line 658, ../sass/components/_content.scss */
    .view-rotating-partner-logos .partner-contact {
      min-height: 10em;
      border-left: 1px solid #fff;
      border-top: 0;
      padding-top: 0; } }

/* line 670, ../sass/components/_content.scss */
.view-rotating-partner-logos .partner-img {
  text-align: center; }
  /* line 672, ../sass/components/_content.scss */
  .view-rotating-partner-logos .partner-img img {
    max-width: 180px; }

/* line 676, ../sass/components/_content.scss */
.view-rotating-partner-logos .pad {
  padding: 20px; }

/* line 679, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-pause {
  display: none; }

/* line 682, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-previous a,
.view-rotating-partner-logos .views-slideshow-controls-text-next a {
  position: absolute;
  width: 40px;
  height: 70px;
  display: block;
  text-indent: -8765px;
  line-height: 0;
  font-size: 0;
  z-index: 999;
  bottom: -10%; }
  @media (min-width: 740px) {
    /* line 682, ../sass/components/_content.scss */
    .view-rotating-partner-logos .views-slideshow-controls-text-previous a,
    .view-rotating-partner-logos .views-slideshow-controls-text-next a {
      bottom: -40%; } }
  @media (min-width: 800px) {
    /* line 682, ../sass/components/_content.scss */
    .view-rotating-partner-logos .views-slideshow-controls-text-previous a,
    .view-rotating-partner-logos .views-slideshow-controls-text-next a {
      top: 245px; } }

/* line 697, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-previous a {
  background: url(images/arrow-prev-white.png) no-repeat 0 0;
  left: 0; }

/* line 701, ../sass/components/_content.scss */
.view-rotating-partner-logos .views-slideshow-controls-text-next a {
  background: url(images/arrow-next-white.png) no-repeat 0 0;
  right: 0; }

/* line 3, ../sass/components/_footer.scss */
.l-footer .l-region--footer-first {
  background-color: #393536;
  padding: 1.5em; }
  /* line 7, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .block--menu-block {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 5%; }
    @media (min-width: 800px) {
      /* line 7, ../sass/components/_footer.scss */
      .l-footer .l-region--footer-first .block--menu-block {
        margin-top: 25%; } }
    @media (min-width: 800px) {
      /* line 7, ../sass/components/_footer.scss */
      .l-footer .l-region--footer-first .block--menu-block {
        margin-top: 5%; } }
  /* line 17, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .footer-sm h2, .l-footer .l-region--footer-first .footer-sm .field--name-field-section-heading, .l-footer .l-region--footer-first .footer-sm .node-type-feature .l-content .field--name-field-top-feature-heading, .node-type-feature .l-content .l-footer .l-region--footer-first .footer-sm .field--name-field-top-feature-heading {
    display: inline-block;
    margin: 0; }
  /* line 22, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .footer-sm .block__title {
    float: left;
    margin-top: 0;
    margin-right: 2em; }
  /* line 29, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .footer-sm .content a {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-indent: -8765px;
    background: url(/sites/all/themes/civicrm_o4/images/civi-sprite.png) no-repeat -210px -2040px; }
  /* line 38, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .footer-sm .social-icons {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle; }
    /* line 44, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .footer-sm .social-icons ul {
      list-style-type: none; }
    /* line 48, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .footer-sm .social-icons li {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 0 0.3rem; }
    /* line 55, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .footer-sm .social-icons a {
      color: transparent;
      line-height: 50px;
      padding: 16px 0;
      vertical-align: bottom; }
  /* line 65, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-first .menu {
    padding-left: 0; }
    /* line 68, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .menu li {
      list-style: none;
      margin-right: 0; }
      @media (min-width: 800px) {
        /* line 68, ../sass/components/_footer.scss */
        .l-footer .l-region--footer-first .menu li {
          margin-right: 2em; } }
    /* line 73, ../sass/components/_footer.scss */
    .l-footer .l-region--footer-first .menu .expanded {
      float: left; }
      /* line 75, ../sass/components/_footer.scss */
      .l-footer .l-region--footer-first .menu .expanded ul {
        margin-top: 0; }
  /* line 13, ../../../../../../../../../.rvm/gems/ruby-2.2.1/gems/toolkit-2.9.0/stylesheets/toolkit/_clearfix.scss */
  .l-footer .l-region--footer-first:after {
    content: "";
    display: table;
    clear: both; }
/* line 88, ../sass/components/_footer.scss */
.l-footer .l-region--footer-second {
  padding: 1.5em; }
  /* line 91, ../sass/components/_footer.scss */
  .l-footer .l-region--footer-second p {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%; }

/* line 1, ../sass/components/_header.scss */
.l-header {
  background-color: #393536;
  height: 6em;
  padding: 0.8em 1.5em;
  z-index: 9999999; }
  /* line 7, ../sass/components/_header.scss */
  .l-header .l-header-inner {
    max-width: 90%; }
    @media (min-width: 900px) {
      /* line 7, ../sass/components/_header.scss */
      .l-header .l-header-inner {
        max-width: 97%; } }
    @media (min-width: 1024px) {
      /* line 7, ../sass/components/_header.scss */
      .l-header .l-header-inner {
        max-width: 90%; } }
  /* line 13, ../sass/components/_header.scss */
  .l-header .l-branding {
    width: 50%;
    margin-top: 0.5em; }
    @media (min-width: 740px) {
      /* line 13, ../sass/components/_header.scss */
      .l-header .l-branding {
        width: auto; } }
  /* line 23, ../sass/components/_header.scss */
  .l-header .l-region--menu .menu-name-menu-secondary-menu, .l-header .l-region--menu .block--menu-menu-primary-menu {
    display: none; }
  @media (min-width: 800px) {
    /* line 30, ../sass/components/_header.scss */
    .l-header .l-region--menu .menu-name-menu-secondary-menu, .l-header .l-region--menu .block--menu-menu-primary-menu {
      display: inline; }
      /* line 33, ../sass/components/_header.scss */
      .l-header .l-region--menu .menu-name-menu-secondary-menu .expanded ul, .l-header .l-region--menu .block--menu-menu-primary-menu .expanded ul {
        display: none; }
    /* line 39, ../sass/components/_header.scss */
    .l-header .l-region--menu .block--block-38 {
      display: none; } }
  /* line 47, ../sass/components/_header.scss */
  .l-header .menu {
    text-align: right;
    padding: 0.5% 0;
    margin: 0; }
    /* line 52, ../sass/components/_header.scss */
    .l-header .menu li {
      list-style: none outside none;
      display: inline-block;
      margin: 0 0.75em;
      padding: 0;
      vertical-align: top; }
  /* line 64, ../sass/components/_header.scss */
  .l-header .block--menu-menu-home-page-menu .menu li a, .l-header .block--menu-menu-primary-menu-home-page .menu li a {
    padding: 0 0 1.5rem 0; }
  /* line 67, ../sass/components/_header.scss */
  .l-header .block--menu-menu-home-page-menu .menu li a:hover, .l-header .block--menu-menu-primary-menu-home-page .menu li a:hover {
    background: url(../images/active-arrow.png) no-repeat center bottom; }
  /* line 71, ../sass/components/_header.scss */
  .l-header .block--menu-menu-home-page-menu .menu li .selected, .l-header .block--menu-menu-primary-menu-home-page .menu li .selected {
    background: url(../images/active-arrow.png) no-repeat center bottom; }
  /* line 83, ../sass/components/_header.scss */
  .l-header .block--menu-menu-primary-menu .menu li a {
    padding: 0 0 1.5rem 0; }
  /* line 86, ../sass/components/_header.scss */
  .l-header .block--menu-menu-primary-menu .menu li a:hover {
    background: url(../images/active-arrow.png) no-repeat center bottom; }
  /* line 90, ../sass/components/_header.scss */
  .l-header .block--menu-menu-primary-menu .menu li .active {
    background: url(../images/active-arrow.png) no-repeat center bottom; }

/* line 101, ../sass/components/_header.scss */
.scroll-to-fixed-fixed {
  width: 100% !important; }

/* line 105, ../sass/components/_header.scss */
.l-header.before {
  display: block; }
  /* line 108, ../sass/components/_header.scss */
  .l-header.before .l-header-inner {
    max-width: 100%; }
  /* line 112, ../sass/components/_header.scss */
  .l-header.before .menubutton {
    float: right; }
    /* line 114, ../sass/components/_header.scss */
    .l-header.before .menubutton a {
      font-size: 4rem;
      color: #fff;
      line-height: 3rem; }
    /* line 120, ../sass/components/_header.scss */
    .l-header.before .menubutton .fa {
      vertical-align: top; }
  @media (min-width: 900px) {
    /* line 105, ../sass/components/_header.scss */
    .l-header.before {
      display: none; } }

/* line 130, ../sass/components/_header.scss */
.l-header.after {
  display: none; }
  @media (min-width: 900px) {
    /* line 130, ../sass/components/_header.scss */
    .l-header.after {
      display: block; } }

/* line 48, ../sass/sprites/_icons.scss */
.icons-sprite {
  background-image: url('../images/generated/icons-s9d4c8bdf7e.png');
  background-repeat: no-repeat; }

/*# sourceMappingURL=civicrm_theme_omsass.styles.css.map */
